In [1]:
import pandas as pd

In [ ]:
file_path_episodes = "../exploration/BIG_DF.ipynb"

db01 = pd.read_csv("../gitignore/title_basics_traite.csv")
db02 = pd.read_csv("../gitignore/title.akas_final.tsv")
db03 = pd.read_csv("../gitignore/title.ratings.tsv", sep="\t")
db04 = pd.read_csv("../gitignore/title.principals4.tsv", sep="\t")
db05 = pd.read_csv("../gitignore/name.basics.tsv", sep="\t")
db06 = pd.read_csv("../gitignore/title.crew.tsv", sep="\t") # Ne pas utiliser pour le ML
db07 = pd.read_csv("../gitignore/data_bechdel.csv")
db08 = pd.read_csv("../gitignore/tmdb_final.csv")

C:\Users\frale\AppData\Local\Temp\ipykernel_33404\1670471252.py:9: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  db07 = pd.read_csv("../gitignore/tmdb_final.csv")

In [3]:
db01_tot = db01.shape[0]
print(f"Total: {db01_tot}")
db01.nunique()

Total: 361533

tconst            361533
titleType             10
primaryTitle      340797
originalTitle     340985
isAdult                1
startYear            100
endYear               34
runtimeMinutes       466
genres               298
decade                13
dtype: int64

In [4]:
db02_tot = db02.shape[0]
print(f"Total: {db02_tot}")
db02.nunique()

Total: 1500950

tconst           1500950
averageRating         91
numVotes           22785
dtype: int64

In [5]:
dbmerge_1 = pd.merge(db02, db01, on='tconst', how='left')

In [6]:
display(dbmerge_1.head())

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,decade
0,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000002,5.6,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0000003,6.5,2121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000004,5.4,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000005,6.2,2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dbmerge_1_tot = dbmerge_1.shape[0]
print(f"Total: {dbmerge_1_tot}")
dbmerge_1.nunique()

Total: 1500950

tconst            1500950
averageRating          91
numVotes            22785
titleType              10
primaryTitle        22561
originalTitle       22607
isAdult                 1
startYear              78
endYear                27
runtimeMinutes        337
genres                234
decade                 13
dtype: int64

In [8]:
db03_tot = db03.shape[0]
print(f"Total: {db03_tot}")
db03.nunique()

Total: 75327831

tconst             10086702
nconst              5751717
category                  6
job                   40970
characters          4148522
plusieurs_roles           2
dtype: int64

In [9]:
dbmerge_2 = pd.merge(dbmerge_1, db03, on='tconst', how='left')

In [10]:
display(dbmerge_2.head())

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,decade,nconst,category,job,characters,plusieurs_roles
0,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm1588970,self,NaN,['Self'],False
1,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0005690,director,NaN,NaN,False
2,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0005690,producer,producer,NaN,False
3,tt0000002,5.6,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0721526,director,NaN,NaN,False
4,tt0000003,6.5,2121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0721526,director,NaN,NaN,False

In [11]:
dbmerge_2_tot = dbmerge_2.shape[0]
print(f"Total: {dbmerge_2_tot}")
dbmerge_2.nunique()

Total: 16763332

tconst             1500950
averageRating           91
numVotes             22785
titleType               10
primaryTitle         22561
originalTitle        22607
isAdult                  1
startYear               78
endYear                 27
runtimeMinutes         337
genres                 234
decade                  13
nconst             2367392
category                 6
job                  27515
characters         2426303
plusieurs_roles          2
dtype: int64

In [12]:
db04_tot = db04.shape[0]
print(f"Total: {db04_tot}")
db04.nunique()

Total: 13958409

nconst               13958409
primaryName          10719045
birthYear                 544
deathYear                 487
primaryProfession       23082
knownForTitles        5814340
dtype: int64

In [13]:
dbmerge_3 = pd.merge(dbmerge_2, db04, on='nconst', how='left')

In [14]:
display(dbmerge_3.head())

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,...,nconst,category,job,characters,plusieurs_roles,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nm1588970,self,NaN,['Self'],False,Carmencita,1868,1910,"soundtrack,archive_footage","tt0057728,tt0000001"
1,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nm0005690,director,NaN,NaN,False,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
2,tt0000001,5.7,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nm0005690,producer,producer,NaN,False,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
3,tt0000002,5.6,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nm0721526,director,NaN,NaN,False,Émile Reynaud,1844,1918,"director,animation_department,producer","tt32169968,tt0000003,tt16763740,tt16763674"
4,tt0000003,6.5,2121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nm0721526,director,NaN,NaN,False,Émile Reynaud,1844,1918,"director,animation_department,producer","tt32169968,tt0000003,tt16763740,tt16763674"

In [15]:
dbmerge_3_tot = dbmerge_3.shape[0]
print(f"Total: {dbmerge_3_tot}")
dbmerge_3.nunique()

Total: 16763332

tconst               1500950
averageRating             91
numVotes               22785
titleType                 10
primaryTitle           22561
originalTitle          22607
isAdult                    1
startYear                 78
endYear                   27
runtimeMinutes           337
genres                   234
decade                    13
nconst               2367392
category                   6
job                    27515
characters           2426303
plusieurs_roles            2
primaryName          2136496
birthYear                408
deathYear                350
primaryProfession      13161
knownForTitles       1832384
dtype: int64

In [16]:
db05_tot = db05.shape[0]
print(f"Total: {db05_tot}")
db05.nunique()

Total: 10582976

tconst       10582976
directors      928981
writers       1381497
dtype: int64

In [17]:
dbmerge_4 = pd.merge(db05, dbmerge_3, on='tconst', how='left')

In [18]:
display(dbmerge_4.head())

,tconst,directors,writers,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,...,nconst,category,job,characters,plusieurs_roles,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,nm1588970,self,NaN,['Self'],False,Carmencita,1868,1910,"soundtrack,archive_footage","tt0057728,tt0000001"
1,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,nm0005690,director,NaN,NaN,False,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
2,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,nm0005690,producer,producer,NaN,False,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
3,tt0000002,nm0721526,\N,5.6,282.0,NaN,NaN,NaN,NaN,NaN,...,nm0721526,director,NaN,NaN,False,Émile Reynaud,1844,1918,"director,animation_department,producer","tt32169968,tt0000003,tt16763740,tt16763674"
4,tt0000003,nm0721526,\N,6.5,2121.0,NaN,NaN,NaN,NaN,NaN,...,nm0721526,director,NaN,NaN,False,Émile Reynaud,1844,1918,"director,animation_department,producer","tt32169968,tt0000003,tt16763740,tt16763674"

In [19]:
dbmerge_4_tot = dbmerge_4.shape[0]
print(f"Total: {dbmerge_4_tot}")
dbmerge_4.nunique()

Total: 25845358

tconst               10582976
directors              928981
writers               1381497
averageRating              91
numVotes                22784
titleType                  10
primaryTitle            22462
originalTitle           22509
isAdult                     1
startYear                  69
endYear                    27
runtimeMinutes            337
genres                    234
decade                     12
nconst                2367392
category                    6
job                     27515
characters            2426303
plusieurs_roles             2
primaryName           2136496
birthYear                 408
deathYear                 350
primaryProfession       13161
knownForTitles        1832384
dtype: int64

In [20]:
db06_tot = db06.shape[0]
print(f"Total: {db06_tot}")
db06.nunique()

Total: 10401

year        143
title     10134
id        10401
imdbid    10401
rating        4
dtype: int64

In [21]:
dbmerge_5 = pd.merge(dbmerge_4, db06, left_on='tconst', right_on='imdbid', how='left')

In [22]:
display(dbmerge_5.head())

,tconst,directors,writers,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,...,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,year,title,id,imdbid,rating
0,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,Carmencita,1868,1910,"soundtrack,archive_footage","tt0057728,tt0000001",NaN,NaN,NaN,NaN,NaN
1,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560",NaN,NaN,NaN,NaN,NaN
2,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560",NaN,NaN,NaN,NaN,NaN
3,tt0000002,nm0721526,\N,5.6,282.0,NaN,NaN,NaN,NaN,NaN,...,Émile Reynaud,1844,1918,"director,animation_department,producer","tt32169968,tt0000003,tt16763740,tt16763674",1892.0,Le clown et ses chiens,9632.0,tt0000002,0.0
4,tt0000003,nm0721526,\N,6.5,2121.0,NaN,NaN,NaN,NaN,NaN,...,Émile Reynaud,1844,1918,"director,animation_department,producer","tt32169968,tt0000003,tt16763740,tt16763674",1892.0,Pauvre Pierrot,5433.0,tt0000003,0.0

In [23]:
dbmerge_5_tot = dbmerge_5.shape[0]
print(f"Total: {dbmerge_5_tot}")
dbmerge_5.nunique()

Total: 25845358

tconst               10582976
directors              928981
writers               1381497
averageRating              91
numVotes                22784
titleType                  10
primaryTitle            22462
originalTitle           22509
isAdult                     1
startYear                  69
endYear                    27
runtimeMinutes            337
genres                    234
decade                     12
nconst                2367392
category                    6
job                     27515
characters            2426303
plusieurs_roles             2
primaryName           2136496
birthYear                 408
deathYear                 350
primaryProfession       13161
knownForTitles        1832384
year                      143
title                   10129
id                      10393
imdbid                  10393
rating                      4
dtype: int64

In [24]:
db07_tot = db07.shape[0]
print(f"Total: {db07_tot}")
db07.nunique()

Total: 714175

adult                                1
backdrop_path                   151556
budget                            3597
genres                              19
homepage                         43233
id                              309571
imdb_id                         309571
original_language                  152
original_title                  284591
overview                        280954
popularity                       18297
poster_path                     263741
production_countries               231
release_date                       145
revenue                          12865
runtime                            460
spoken_languages                   177
status                               6
tagline                          73633
title                           271999
video                                2
vote_average                      4732
vote_count                        3560
production_companies_name       112932
production_companies_country      7616
dtype: int64

In [25]:
dbmerge_6 = pd.merge(dbmerge_5, db07, left_on='tconst', right_on='imdb_id', how='left')

In [26]:
display(dbmerge_6.head())

,tconst,directors,writers,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,...,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,1.0,xx,Released,NaN,Carmencita,False,5.220,59.0,['Edison Studios'],['US']
1,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,1.0,xx,Released,NaN,Carmencita,False,5.220,59.0,['Edison Studios'],['US']
2,tt0000001,nm0005690,\N,5.7,2101.0,NaN,NaN,NaN,NaN,NaN,...,1.0,xx,Released,NaN,Carmencita,False,5.220,59.0,['Edison Studios'],['US']
3,tt0000002,nm0721526,\N,5.6,282.0,NaN,NaN,NaN,NaN,NaN,...,10.0,xx,Released,NaN,Clown and His Dogs,False,5.300,10.0,[],[]
4,tt0000003,nm0721526,\N,6.5,2121.0,NaN,NaN,NaN,NaN,NaN,...,4.0,fr,Released,NaN,Poor Pierrot,False,5.994,82.0,[],NaN

In [32]:
display(dbmerge_6.sample(15))

,tconst,directors,writers,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,...,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
10234475,tt10910004,\N,nm0345998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3206237,tt0176734,nm0003313,nm0791630,6.2,390.0,NaN,NaN,NaN,NaN,NaN,...,104.0,en,Released,NaN,Freak City,False,5.0,1.0,['Single Cell Pictures'],NaN
3231978,tt0179599,nm0868932,"nm0006872,nm0258714,nm1083852",5.5,77.0,NaN,NaN,NaN,NaN,NaN,...,184.0,it,Released,NaN,Ombre,False,0.0,0.0,"['Red Film Group', 'Taurus Film', 'RAI']","['', 'DE', 'IT']"
30506243,tt9028376,"nm6515289,nm5842181","nm5842181,nm9767942",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7058576,tt0653722,nm0446060,"nm0257606,nm0241146,nm0608946",7.3,92.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16943442,tt1740012,nm0535734,nm0535734,5.8,25.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12925659,tt13136356,"nm2388373,nm0765795","nm1058548,nm1041791",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16557306,tt1669904,nm0120046,\N,6.8,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10588231,tt11173026,\N,nm2308795,6.7,45.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22967955,tt3158886,nm5918064,nm5348196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2133679,tt0101692,nm0747724,"nm0747724,nm0654582",6.4,1529.0,NaN,NaN,NaN,NaN,NaN,...,109.0,en,Released,Carl Fitzgerald has decided to clean up his ac...,Death in Brunswick,False,6.3,16.0,"['Meridian Films', 'Film Victoria', 'Australia...",NaN
11265732,tt11711686,\N,\N,8.0,30.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8838830,tt0954388,nm0589929,"nm0449958,nm0867354,nm0912726",8.2,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17038653,tt1756714,nm1577190,"nm0930782,nm1577190",8.0,2519.0,NaN,NaN,NaN,NaN,NaN,...,34.0,en,Released,"Run away from me, baby",Runaway,False,7.4,34.0,['The Island Def Jam Music Group'],NaN
24662860,tt3823442,nm1842601,"nm2646452,nm1898126,nm1101712,nm0592135,nm3550886",6.4,30.0,NaN,NaN,NaN,NaN,NaN,...,109.0,de,Released,NaN,This American Life: Live at BAM,False,7.8,3.0,['Chicago Public Radio (WBEZ)'],NaN

In [33]:
dbmerge_6_tot = dbmerge_6.shape[0]
print(f"Total: {dbmerge_6_tot}")
dbmerge_6.nunique()

Total: 31325443

tconst                          10582976
directors                         928981
writers                          1381497
averageRating                         91
numVotes                           22784
titleType                             10
primaryTitle                       22462
originalTitle                      22509
isAdult                                1
startYear                             69
endYear                               27
runtimeMinutes                       337
genres_x                             234
decade                                12
nconst                           2367392
category                               6
job                                27515
characters                       2426303
plusieurs_roles                        2
primaryName                      2136496
birthYear                            408
deathYear                            350
primaryProfession                  13161
knownForTitles                   1832384
year                                 143
title_x                            10129
id_x                               10393
imdbid                             10393
rating                                 4
adult                                  1
backdrop_path                     151247
budget                              3594
genres_y                              19
homepage                           43096
id_y                              308453
imdb_id                           308453
original_language                    152
original_title                    283557
overview                          279975
popularity                         18291
poster_path                       263037
production_countries                 231
release_date                         145
revenue                            12858
runtime                              460
spoken_languages                     177
status                                 6
tagline                            73493
title_y                           270979
video                                  2
vote_average                        4731
vote_count                          3560
production_companies_name         112726
production_companies_country        7609
dtype: int64

In [28]:
# dbmerge_1.to_csv("dbmerge_1.csv", index=False)

In [29]:
# dbmerge_3.to_csv("dbmerge_3.csv", index=False)

In [ ]:
# dbmerge_6.to_csv("big_df.csv", index=False)
# 10GB