In [19]:
import pandas as pd

In [20]:
file_path_episodes = "../exploration/Exploration - Fusion_Intermediaire.ipynb"

db01 = pd.read_csv("../gitignore/title.basics.tsv", sep="\t", low_memory=False)
db02 = pd.read_csv("../gitignore/title.ratings.tsv", sep="\t")

In [23]:
db01_tot = db01.shape[0]
print(f"Total: {db01_tot}")
db01.nunique()

Total: 11248099

tconst            11248099
titleType               11
primaryTitle       5048924
originalTitle      5073560
isAdult                 42
startYear              152
endYear                 98
runtimeMinutes         944
genres                2384
dtype: int64

In [22]:
db02_tot = db02.shape[0]
print(f"Total: {db02_tot}")
db02.nunique()

Total: 1500950

tconst           1500950
averageRating         91
numVotes           22785
dtype: int64

In [24]:
dbmerge = pd.merge(db01, db02, on='tconst', how='inner')

In [27]:
display(dbmerge.head())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2101
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.6,282
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance",6.5,2121
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.4,182
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2852