In [2]:
import pandas as pd

In [5]:
file_path_titles = "../gitignore/title.akas.tsv"
data_titles = pd.read_csv(file_path_titles, sep="\t")

In [12]:
data_titles_copy = data_titles.copy()

In [13]:
total_1 = data_titles.shape[0]
print(f"Total: {total_1}")
data_titles.nunique()

Total: 50429043

titleId            11214240
ordering                251
title               7177489
region                  248
language                109
types                    24
attributes              185
isOriginalTitle           2
dtype: int64

In [19]:
data_titles.sample(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
14808959,tt14094070,2,Episódio #1.139,PT,pt,\N,\N,0
5979755,tt1072817,3,एपिसोड #7.2,IN,hi,\N,\N,0
28181134,tt25013082,5,Episodio datato 6 marzo 2018,IT,it,\N,\N,0
43306139,tt6453922,4,Épisode #1.9,FR,fr,\N,\N,0
48725399,tt9179920,3,एपिसोड #5.3,IN,hi,\N,\N,0
16612110,tt14802128,6,Folge #1.137,DE,de,\N,\N,0
17887878,tt15287886,1,Episode #1.733,\N,\N,original,\N,1
5561521,tt10581654,4,Épisode #1.261,FR,fr,\N,\N,0
27119996,tt2324307,1,Mainokset valehtelevat meille!,\N,\N,original,\N,1
35554608,tt32306246,4,Épisode datant du 2 mai 2024,FR,fr,\N,\N,0

In [17]:
regions = data_titles['region'].unique()
print(regions)

['\\N' 'DE' 'US' 'HU' 'GR' 'RU' 'UA' 'JP' 'RO' 'FR' 'GB' 'CA' 'PT' 'AU'
 'AR' 'FI' 'UY' 'PL' 'BG' 'RS' 'BR' 'IT' 'ES' 'TR' 'SK' 'XWW' 'DK' 'XEU'
 'CZ' 'SE' 'NZ' 'KZ' 'MX' 'NO' 'XYU' 'AT' 'VE' 'CSHH' 'SI' 'SUHH' 'IN'
 'NL' 'LT' 'HR' 'TW' 'CN' 'CO' 'IR' 'SG' 'BE' 'EC' 'IE' 'VN' 'PH' 'DZ'
 'CH' 'XWG' 'BF' 'HK' 'XSA' 'EE' 'IS' 'PR' 'DDDE' 'IL' 'EG' 'XKO' 'CL'
 'JM' 'KR' 'PE' 'BY' 'GE' 'BA' 'DO' 'TH' 'AE' 'ZA' 'PA' 'TJ' 'XSI' 'MY'
 'LV' 'ID' 'AZ' 'UZ' 'PK' 'BD' 'CU' 'AL' 'BO' 'XAS' 'NG' 'YUCS' 'GT' 'PY'
 'SV' 'CR' 'KP' 'BUMM' 'MM' 'XPI' 'BJ' 'CM' 'MA' 'GL' 'MN' 'LI' 'LU' 'MZ'
 'MK' 'BM' 'MD' 'ME' 'LB' 'IQ' 'TM' 'TN' 'HT' 'AM' 'CI' 'LK' 'NP' 'QA'
 'SY' 'TO' 'CG' 'SN' 'GH' 'JO' 'KG' 'NE' 'GN' 'VDVN' 'TD' 'SO' 'SD' 'MC'
 'TT' 'GA' 'BS' 'LY' 'AO' 'KH' 'MR' 'AF' 'MG' 'ML' 'GY' 'CY' 'ET' 'GU'
 'SR' 'MT' 'TG' 'PG' 'MU' 'BI' 'CF' 'NI' 'ZW' 'ZM' 'GW' 'DJ' 'RW' 'TZ'
 'GI' 'LA' 'SC' 'GP' 'XAU' 'FO' 'PS' 'ZRCD' 'MO' 'AW' 'KW' 'CV' 'SL' 'SM'
 'CD' 'BT' 'LS' 'HN' 'KE' 'MQ' 'AD' 'ER' nan 'SA' 'CSXX' 'IM' 'XKV' 'BH'
 'BB' 'BZ' 'UG' 'AG' 'NU' 'OM' 'BW' 'LR' 'AN' 'MV' 'YE' 'GM' 'KY' 'NC'
 'DM' 'TL' 'MP' 'VA' 'GQ' 'FJ' 'SZ' 'TC' 'RE' 'EH' 'PF' 'VG' 'LC' 'MW'
 'BN' 'ST' 'KM' 'FM' 'AI' 'GD' 'VI' 'SB' 'GF' 'AQ' 'MH' 'CW' 'WS' 'VC'
 'AS' 'XNA' 'MS' 'VU' 'SH' 'KI' 'KN' 'CC' 'TV' 'CK' 'PW' 'NR' 'JE']

In [37]:
langues = data_titles['language'].unique()
print(langues)

['\\N' 'ja' 'en' 'sv' 'bg' 'tr' 'ru' 'es' 'sr' 'cs' 'fr' 'hi' 'cmn' 'sk'
 'fa' 'ca' 'qbn' 'nl' 'pt' 'uz' 'uk' 'qbp' 'ar' 'rn' 'bs' 'ga' 'de' 'yue'
 'th' 'yi' 'ka' 'hr' 'sl' 'he' 'it' 'tg' 'kk' 'da' 'el' 'fi' 'be' 'gsw'
 'eu' 'gl' 'az' 'ms' 'pl' 'id' 'mr' 'qbo' 'mi' 'la' 'ta' 'lt' 'lv' 'af'
 'hy' 'ur' 'bn' 'te' 'ro' 'kn' 'ml' 'mk' 'tl' 'cy' 'et' 'gd' 'qal' 'gu'
 'lb' 'zu' 'xh' 'eka' 'ko' 'tk' 'ky' 'wo' 'zh' 'hu' 'no' 'is' 'sq' 'vi'
 'pa' 'sd' 'ps' 'ku' 'roa' 'tn' 'rm' 'su' 'jv' 'st' 'prs' 'jsl' 'fro'
 'haw' 'mn' 'am' 'ne' 'qac' 'lo' 'my' 'myv' 'br' 'iu' 'hil' 'cr']

In [69]:
data_titles_fr = data_titles[data_titles['region'] == 'FR']

In [73]:
data_titles_fr.head(200)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
12,tt0000002,5,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
21,tt0000003,5,Pauvre Pierrot,FR,\N,imdbDisplay,\N,0
30,tt0000004,5,Un bon bock,FR,\N,imdbDisplay,\N,0
80,tt0000010,11,La sortie de l'usine Lumière,FR,\N,alternative,\N,0
81,tt0000010,12,La sortie des ouvriers de l'usine Lumière,FR,\N,\N,informal alternative title,0
...,...,...,...,...,...,...,...,...
1154,tt0000259,2,Le tonnelier,FR,\N,imdbDisplay,\N,0
1156,tt0000260,2,Transformations,FR,\N,imdbDisplay,\N,0
1160,tt0000261,4,Un bon lit,FR,\N,imdbDisplay,\N,0
1162,tt0000262,2,Un lunch,FR,\N,imdbDisplay,\N,0
1166,tt0000264,2,Évocation spirite,FR,\N,imdbDisplay,\N,0

In [77]:
print(data_titles_fr.nunique())
print("-----")
print(data_titles_fr.info())

titleId            4925124
ordering                82
title               293243
region                   1
language                 5
types                    8
attributes              99
isOriginalTitle          1
dtype: int64
-----
<class 'pandas.core.frame.DataFrame'>
Index: 4940841 entries, 12 to 50429035
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  int64
dtypes: int64(2), object(6)
memory usage: 339.3+ MB
None

In [80]:
data_titles_fr['titleId'].duplicated().sum()

15717

In [95]:
dup = data_titles_fr[data_titles_fr.duplicated(subset='titleId', keep=False)]
display(dup.head(10))
display(dup.sample(10))

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
80,tt0000010,11,La sortie de l'usine Lumière,FR,\N,alternative,\N,0
81,tt0000010,12,La sortie des ouvriers de l'usine Lumière,FR,\N,\N,informal alternative title,0
82,tt0000010,13,La sortie des usines Lumière,FR,\N,alternative,\N,0
87,tt0000010,18,Sortie d'usine,FR,\N,\N,short title,0
97,tt0000010,3,La sortie de l'usine Lumière à Lyon,FR,\N,imdbDisplay,\N,0
112,tt0000012,14,L'arrivée d'un train en gare de La Ciotat,FR,\N,alternative,\N,0
134,tt0000012,8,L'arrivée d'un train à La Ciotat,FR,\N,imdbDisplay,\N,0
137,tt0000013,10,Le débarquement du congrès de photographie à Lyon,FR,\N,imdbDisplay,\N,0
138,tt0000013,11,Neuville-sur-Saône: Débarquement du congrès de...,FR,\N,imdbDisplay,\N,0
147,tt0000013,6,Arrivée des congressistes à Neuville-sur-Saône,FR,\N,alternative,\N,0

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
572864,tt0068575,27,La dernière chance,FR,\N,imdbDisplay,\N,0
1635477,tt0271705,7,Mémoire en sursis,FR,\N,dvd,\N,0
11595192,tt1285162,13,Total eclipse,FR,\N,alternative,\N,0
45979842,tt7890176,2,Contre le mur: Le mur d'écrans de #Daniel,FR,\N,\N,complete title,0
1670481,tt0282312,16,Nightwalker - Le détective de minuit,FR,\N,\N,alternative spelling,0
13301966,tt13492362,4,How to Ruin Christmas,FR,\N,imdbDisplay,\N,0
2144991,tt0433036,3,Une famille pas comme les autres,FR,\N,imdbDisplay,\N,0
3329664,tt0808013,7,Blood Ties,FR,\N,imdbDisplay,\N,0
2299696,tt0484414,2,Coeurs emprisonnés,FR,\N,\N,\N,0
10813681,tt12545566,31,La Liste de Mr. Malcolm,FR,\N,video,\N,0

In [90]:
data_titles_fr[data_titles_fr['titleId'] == 'tt0070578'].head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
595084,tt0070578,12,Sacrilège,FR,\N,alternative,\N,0
595092,tt0070578,6,La lunule,FR,\N,\N,\N,0

In [88]:
data_titles_fr[data_titles_fr['titleId'] == 'tt0086190'].head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
757181,tt0086190,29,Le Retour du Jedi,FR,\N,imdbDisplay,\N,0
757221,tt0086190,65,"Star Wars, épisode VI : Le Retour du Jedi",FR,\N,\N,new title,0

In [ ]:
data_titles_fr[data_titles_fr['titleId'] == 'tt0095630'].head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
857484,tt0095630,6,Massacre à minuit,FR,\N,tv,\N,0
857485,tt0095630,7,The Blob n°2 le retour du monstre,FR,\N,video,\N,0
857486,tt0095630,8,The Blob n°2: Le retour du monstre,FR,\N,imdbDisplay,\N,0

In [91]:
data_titles_fr[data_titles_fr['titleId'] == 'tt0058140'].head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
452982,tt0058140,10,Fort Alésia,FR,\N,imdbDisplay,\N,0
452984,tt0058140,12,Les Géants de Rome,FR,\N,alternative,\N,0
452996,tt0058140,9,Fort alésia,FR,\N,\N,alternative spelling,0

In [92]:
data_titles_fr[data_titles_fr['titleId'] == 'tt0058140'].head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
452982,tt0058140,10,Fort Alésia,FR,\N,imdbDisplay,\N,0
452984,tt0058140,12,Les Géants de Rome,FR,\N,alternative,\N,0
452996,tt0058140,9,Fort alésia,FR,\N,\N,alternative spelling,0

In [93]:
duplicates_count = data_titles_fr['titleId'].value_counts()
plus_duplicate = duplicates_count.idxmax()
max_count = duplicates_count.max()
print(plus_duplicate)
print(max_count)

tt1815106
13

In [94]:
data_titles_fr[data_titles_fr['titleId'] == 'tt1815106'].head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
21765305,tt1815106,10,Les Anges de la téléréalité 4 : Club Hawaï,FR,\N,\N,fourth season title,0
21765306,tt1815106,11,Les Anges de la téléréalité 5 : Welcome to Flo...,FR,\N,\N,fifth season title,0
21765308,tt1815106,13,Les Anges de la téléréalité 6 : Australia,FR,\N,\N,sixth season title,0
21765309,tt1815106,14,Les Anges de la téléréalité 7 : Latin America,FR,\N,\N,seventh season title,0
21765310,tt1815106,15,Les Anges de la téléréalité 8 : Pacific Dream,FR,\N,\N,eighth season title,0
21765311,tt1815106,16,Les Anges de la téléréalité 9 : Back to Paradise,FR,\N,\N,ninth season title,0
21765313,tt1815106,3,Les anges de la téléréalité,FR,\N,imdbDisplay,\N,0
21765314,tt1815106,4,Les Anges de la téléréalité 1 : Los Angeles,FR,\N,\N,first season title,0
21765315,tt1815106,5,Les Anges de la téléréalité 10 : Let's Celebrate,FR,\N,\N,tenth season title,0
21765316,tt1815106,6,Les Anges de la téléréalité 11 : Back to Miami,FR,\N,\N,eleventh season title,0

In [78]:
types = data_titles['types'].unique()
print(types)

['original' '\\N' 'imdbDisplay' 'alternative' 'festival' 'dvd' 'working'
 'tv' 'video' 'imdbDisplay\x02tv' 'alternative\x02tv'
 'imdbDisplay\x02working' 'imdbDisplay\x02festival' 'working\x02tv'
 'imdbDisplay\x02video' 'dvd\x02alternative' 'tv\x02video'
 'imdbDisplay\x02dvd' 'working\x02video' 'working\x02festival'
 'dvd\x02video' 'alternative\x02festival' 'alternative\x02video'
 'working\x02alternative']

In [96]:
# Grouper par 'titleId' et consolider les titres dupliqués dans une liste
consolidated_titles = data_titles_fr.groupby('titleId')['title'].apply(list).reset_index()

In [97]:
# Fusionner les titres consolidés avec le dataframe d'origine, en éliminant les doublons
data_titles_fr_unique = data_titles_fr.drop_duplicates(subset='titleId').drop(columns=['title'])
data_titles_fr_unique = data_titles_fr_unique.merge(consolidated_titles, on='titleId', how='left')

In [104]:
data_titles_fr_unique = data_titles_fr_unique[['titleId', 'title']]

In [105]:
total_2 = data_titles_fr_unique.shape[0]
print(f"Total: {total_2}")
unique_counts = data_titles_fr_unique.drop(columns=['title']).nunique()
print(unique_counts)

Total: 4925124
titleId    4925124
dtype: int64

In [145]:
data_titles_fr_unique.sample(50)

            titleId                                  title
3022910  tt28182789                      [Épisode #1.6200]
3454134  tt32213752                       [Épisode #26.37]
2351196  tt21083282                      [Épisode #1.1206]
4256305   tt6741066                         [Épisode #1.9]
1014993  tt12858650                      [Épisode #1.3851]
4134593   tt5947558       [Épisode datant du 26 mars 2015]
3410224  tt31798420                      [Épisode #1.2608]
1539467  tt14820990                        [Épisode #7.34]
3912905   tt4556324                         [Épisode #1.2]
548194   tt11180838                         [Épisode #1.1]
1928606  tt16611996                       [Épisode #1.113]
4596565   tt8512208                       [Épisode #10.34]
4774622   tt9306284                        [Épisode #1.48]
2035226   tt1780154                     [Épisode #1.12196]
3694132   tt3407120   [Épisode datant du 29 décembre 2013]
1434530  tt14422634                        [Épisode #1.83]
1045207  tt12957040                       [Épisode #1.250]
65934     tt0381681                        [Before Sunset]
148274    tt0762231  [Épisode datant du 21 septembre 2005]
2102671  tt18552820                      [Épisode #1.2307]
2297236  tt20561444                         [Épisode #1.3]
973578   tt12706188                        [Épisode #1.55]
1207641  tt13549390                       [Épisode #1.210]
4314742   tt7092604                        [Épisode #1.45]
4832924   tt9539848                       [Épisode #1.220]
3979460   tt4952406                         [Épisode #1.1]
390461   tt10623836                       [Épisode #1.256]
1889323  tt16371918                      [Épisode #1.4462]
239990   tt10085992                       [Épisode #1.224]
1820671  tt16061872                      [Épisode #17.217]
3538736  tt32818108                       [Épisode #1.484]
2653777   tt2387844    [Épisode datant du 14 octobre 2001]
342632   tt10454930                       [Épisode #1.345]
1984652   tt1711109       [Épisode datant du 22 mars 1990]
664015   tt11572740                      [Épisode #1.1027]
3528972  tt32750483                        [Épisode #8.94]
2841000  tt26932330                       [Épisode #1.647]
4625233   tt8651466         [Épisode datant du 8 mai 2018]
4239259   tt6647862                       [Épisode #26.54]
777020   tt11975708    [Épisode datant du 14 janvier 2020]
2528119  tt22437982                       [Épisode #1.110]
4779883   tt9327752                         [Épisode #1.1]
3776584   tt3765188        [Épisode datant du 14 mai 2014]
552979   tt11196834                         [Épisode #1.6]
4271012   tt6844972                         [Épisode #1.5]
1857523  tt16275556       [Épisode datant du 2 avril 2012]
4822589   tt9497588                       [Épisode #1.513]
2712887   tt2516030   [Épisode datant du 26 novembre 2012]
1122535  tt13234240                        [Épisode #1.20]
573693   tt11275590                       [Épisode #1.587]

In [107]:
export = "../gitignore/title.akas_final.tsv"
data_titles_fr_unique.to_csv(export, sep="\t", index=False)