In [1]:
import pandas as pd

In [12]:
file_path_episodes = "../exploration/BIG_DF_ML.ipynb"

db01 = pd.read_csv("../gitignore/title_basics_traite.csv")
db02 = pd.read_csv("../gitignore/title_ratings_final.tsv", sep="\t")
db03 = pd.read_csv("../gitignore/title.akas_final.tsv", sep="\t")
db04 = pd.read_csv("../gitignore/tmdb_ml_final.csv")
db05 = pd.read_csv("../gitignore/data_bechdel.csv")
#db06 = pd.read_csv("../gitignore/title.principals4.tsv", sep="\t") #INFO
db07 = pd.read_csv("../gitignore/name.basics.tsv", sep="\t") 
db08 = pd.read_csv("../gitignore/title.crew.tsv", sep="\t")

In [5]:
db01_tot = db01.shape[0] # TITLE BASICS
print(f"Total: {db01_tot}")
db01.nunique()

Total: 688341

tconst            688341
titleType              1
startYear            138
runtimeMinutes       517
genres              1398
decade                16
Action                 2
Adult                  1
Adventure              2
Animation              2
Biography              2
Comedy                 2
Crime                  2
Documentary            2
Drama                  2
Family                 2
Fantasy                2
Game-Show              2
History                2
Horror                 2
Music                  2
Musical                2
Mystery                2
News                   2
Reality-TV             2
Romance                2
Sci-Fi                 2
Short                  1
Sport                  2
Talk-Show              2
Thriller               2
War                    2
Western                2
movie                  1
dtype: int64

In [7]:
db02_tot = db02.shape[0] # TITLE RATINGS
print(f"Total: {db02_tot}")
db02.nunique()

Total: 1500950

title_ratings_tconst           1500950
title_ratings_averageRating         91
title_ratings_numVotes           22785
dtype: int64

In [8]:
dbmerge_1 = pd.merge(db01, db02, right_on='title_ratings_tconst', left_on='tconst', how='left') # TITLE BASICS + TITLE RATINGS

In [9]:
dbmerge_1_tot = dbmerge_1.shape[0] # TITLE BASICS + TITLE RATINGS
print(f"Total: {dbmerge_1_tot}")
dbmerge_1.nunique()

Total: 688341

tconst                         688341
titleType                           1
startYear                         138
runtimeMinutes                    517
genres                           1398
decade                             16
Action                              2
Adult                               1
Adventure                           2
Animation                           2
Biography                           2
Comedy                              2
Crime                               2
Documentary                         2
Drama                               2
Family                              2
Fantasy                             2
Game-Show                           2
History                             2
Horror                              2
Music                               2
Musical                             2
Mystery                             2
News                                2
Reality-TV                          2
Romance                             2
Sci-Fi                              2
Short                               1
Sport                               2
Talk-Show                           2
Thriller                            2
War                                 2
Western                             2
movie                               1
title_ratings_tconst           315659
title_ratings_averageRating        91
title_ratings_numVotes          18802
dtype: int64

In [13]:
db03_tot = db03.shape[0] # TITLE AKAS
print(f"Total: {db03_tot}")
db03.nunique()

Total: 11214225

titleId            11214224
ordering                  2
title               5059131
region                    1
language                  1
types                     1
attributes                1
isOriginalTitle           1
dtype: int64

In [15]:
dbmerge_2 = pd.merge(dbmerge_1, db03, left_on='tconst', right_on='titleId', how='left') # (TITLE BASICS + TITLE RATINGS) + TITLE AKAS

In [16]:
dbmerge_2_tot = dbmerge_2.shape[0] # (TITLE BASICS + TITLE RATINGS) + TITLE AKAS
print(f"Total: {dbmerge_2_tot}")
dbmerge_2.nunique()

Total: 688341

tconst                         688341
titleType                           1
startYear                         138
runtimeMinutes                    517
genres                           1398
decade                             16
Action                              2
Adult                               1
Adventure                           2
Animation                           2
Biography                           2
Comedy                              2
Crime                               2
Documentary                         2
Drama                               2
Family                              2
Fantasy                             2
Game-Show                           2
History                             2
Horror                              2
Music                               2
Musical                             2
Mystery                             2
News                                2
Reality-TV                          2
Romance                             2
Sci-Fi                              2
Short                               1
Sport                               2
Talk-Show                           2
Thriller                            2
War                                 2
Western                             2
movie                               1
title_ratings_tconst           315659
title_ratings_averageRating        91
title_ratings_numVotes          18802
titleId                        686728
ordering                            1
title                          604556
region                              1
language                            1
types                               1
attributes                          1
isOriginalTitle                     1
dtype: int64

In [17]:
db04_tot = db04.shape[0] # TMDB FULL
print(f"Total: {db04_tot}")
db04.nunique()

Total: 306290

tmdb_imdb_id           306290
tmdb_original_title    281936
tmdb_popularity         18234
tmdb_release_date         141
tmdb_runtime              460
                        ...
tmdb_IR                     2
tmdb_XG                     2
tmdb_EG                     2
tmdb_NG                     2
tmdb_ZA                     2
Length: 62, dtype: int64

In [18]:
dbmerge_3 = pd.merge(dbmerge_2, db04, left_on='tconst', right_on='tmdb_imdb_id', how='left') # ((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL)

In [19]:
dbmerge_3_tot = dbmerge_3.shape[0] # ((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL)
print(f"Total: {dbmerge_3_tot}")
dbmerge_3.nunique()

Total: 688341

tconst            688341
titleType              1
startYear            138
runtimeMinutes       517
genres              1398
                   ...
tmdb_IR                2
tmdb_XG                2
tmdb_EG                2
tmdb_NG                2
tmdb_ZA                2
Length: 107, dtype: int64

In [20]:
db05_tot = db05.shape[0] # BECHDEL
print(f"Total: {db05_tot}")
db05.nunique()

Total: 10440

rating        4
imdbid    10440
dtype: int64

In [21]:
dbmerge_4 = pd.merge(dbmerge_3, db05, left_on='tconst', right_on='imdbid', how='left') # (((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL) + BECHDEL)

In [22]:
dbmerge_4_tot = dbmerge_4.shape[0] # (((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL) + BECHDEL) = BIG_DF_RAW
print(f"Total: {dbmerge_4_tot}")
dbmerge_4.nunique()

Total: 688341

tconst            688341
titleType              1
startYear            138
runtimeMinutes       517
genres              1398
                   ...
tmdb_EG                2
tmdb_NG                2
tmdb_ZA                2
rating                 4
imdbid              9621
Length: 109, dtype: int64

In [23]:
dbmerge_4 = pd.merge(dbmerge_4, db08, left_on='tconst', right_on='tconst', how='left') # + TITLE CREW

In [24]:
dbmerge_4 = pd.merge(dbmerge_4, db07, left_on='directors', right_on='nconst', how='left') # + NAME BASICS

In [25]:
dbmerge_4.head()

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,rating,imdbid,directors,writers,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,1894,45,Romance,1890,False,False,False,False,...,0.0,tt0000009,nm0085156,nm0085156,nm0085156,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
1,tt0000147,movie,1897,100,"Documentary,News,Sport",1890,False,False,False,False,...,NaN,NaN,nm0714557,\N,nm0714557,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
2,tt0000502,movie,1905,100,\N,1900,False,False,False,False,...,NaN,NaN,nm0063413,"nm0063413,nm0657268,nm0675388",nm0063413,Ricardo de Baños,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941"
3,tt0000574,movie,1906,70,"Action,Adventure,Biography",1900,True,False,True,False,...,1.0,tt0000574,nm0846879,nm0846879,nm0846879,Charles Tait,1868,1933,"director,writer",tt0000574
4,tt0000591,movie,1907,90,Drama,1900,False,False,False,False,...,NaN,NaN,nm0141150,nm0141150,nm0141150,Michel Carré,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433627"

In [26]:
display(dbmerge_4.isna().sum())

tconst                    0
titleType                 0
startYear                 0
runtimeMinutes            0
genres                    0
                      ...
primaryName          126601
birthYear            126601
deathYear            126601
primaryProfession    126601
knownForTitles       126601
Length: 117, dtype: int64

In [23]:
#dbmerge_4.to_csv("../gitignore/BIG_DF_ML.csv", index=False)

In [27]:
dbmerge_4['movie'].value_counts()

movie
True    688341
Name: count, dtype: int64

In [67]:
BIG_DF_ML = dbmerge_4.drop(columns=[
    'titleType',
    'genres', 
    'decade', 
    'Adult',
    'Short',
    'movie',
    'tmdb_Comedy',
    'tmdb_Adventure',
    'tmdb_Drama',
    'tmdb_Crime',
    'tmdb_Action',
    'tmdb_Documentary',
    'tmdb_Animation',
    'tmdb_Mystery',
    'tmdb_Horror',
    'tmdb_Western',
    'tmdb_Science Fiction',
    'tmdb_Thriller',
    'tmdb_Romance',
    'tmdb_Fantasy',
    'tmdb_Family',
    'tmdb_History',
    'tmdb_Music',
    'tmdb_War', 
    'ordering',
    'region',
    'language',
    'types',
    'attributes',
    'isOriginalTitle',
    'birthYear',
    'deathYear',
    'primaryProfession',
    'knownForTitles',
    'directors',
    'writers'
])

In [68]:
BIG_DF_ML.loc[(dbmerge_4['title_ratings_averageRating'].isnull())&(dbmerge_4['tmdb_vote_average'].isnull()), ['title_ratings_tconst', 'title_ratings_averageRating', 'tmdb_vote_average']]

       title_ratings_tconst  title_ratings_averageRating  tmdb_vote_average
9                       NaN                          NaN                NaN
10                      NaN                          NaN                NaN
11                      NaN                          NaN                NaN
12                      NaN                          NaN                NaN
13                      NaN                          NaN                NaN
...                     ...                          ...                ...
688329                  NaN                          NaN                NaN
688335                  NaN                          NaN                NaN
688336                  NaN                          NaN                NaN
688337                  NaN                          NaN                NaN
688340                  NaN                          NaN                NaN

[357199 rows x 3 columns]

In [69]:
BIG_DF_ML.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688341 entries, 0 to 688340
Data columns (total 81 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   tconst                       688341 non-null  object
 1   startYear                    688341 non-null  int64
 2   runtimeMinutes               688341 non-null  int64
 3   Action                       688341 non-null  bool
 4   Adventure                    688341 non-null  bool
 5   Animation                    688341 non-null  bool
 6   Biography                    688341 non-null  bool
 7   Comedy                       688341 non-null  bool
 8   Crime                        688341 non-null  bool
 9   Documentary                  688341 non-null  bool
 10  Drama                        688341 non-null  bool
 11  Family                       688341 non-null  bool
 12  Fantasy                      688341 non-null  bool
 13  Game-Show                    688341 non-null  bool
 14  History                      688341 non-null  bool
 15  Horror                       688341 non-null  bool
 16  Music                        688341 non-null  bool
 17  Musical                      688341 non-null  bool
 18  Mystery                      688341 non-null  bool
 19  News                         688341 non-null  bool
 20  Reality-TV                   688341 non-null  bool
 21  Romance                      688341 non-null  bool
 22  Sci-Fi                       688341 non-null  bool
 23  Sport                        688341 non-null  bool
 24  Talk-Show                    688341 non-null  bool
 25  Thriller                     688341 non-null  bool
 26  War                          688341 non-null  bool
 27  Western                      688341 non-null  bool
 28  title_ratings_tconst         315659 non-null  object
 29  title_ratings_averageRating  315659 non-null  float64
 30  title_ratings_numVotes       315659 non-null  float64
 31  titleId                      686728 non-null  object
 32  title                        686726 non-null  object
 33  tmdb_imdb_id                 202467 non-null  object
 34  tmdb_original_title          202467 non-null  object
 35  tmdb_popularity              202467 non-null  float64
 36  tmdb_release_date            202467 non-null  float64
 37  tmdb_runtime                 202467 non-null  float64
 38  tmdb_title                   202467 non-null  object
 39  tmdb_vote_average            202467 non-null  float64
 40  tmdb_vote_count              202467 non-null  float64
 41  tmdb_TV Movie                202467 non-null  object
 42  tmdb_US                      202467 non-null  object
 43  tmdb_FR                      202467 non-null  object
 44  tmdb_GB                      202467 non-null  object
 45  tmdb_DE                      202467 non-null  object
 46  tmdb_JP                      202467 non-null  object
 47  tmdb_IN                      202467 non-null  object
 48  tmdb_IT                      202467 non-null  object
 49  tmdb_CA                      202467 non-null  object
 50  tmdb_ES                      202467 non-null  object
 51  tmdb_MX                      202467 non-null  object
 52  tmdb_HK                      202467 non-null  object
 53  tmdb_BR                      202467 non-null  object
 54  tmdb_SE                      202467 non-null  object
 55  tmdb_SU                      202467 non-null  object
 56  tmdb_PH                      202467 non-null  object
 57  tmdb_KR                      202467 non-null  object
 58  tmdb_AU                      202467 non-null  object
 59  tmdb_CN                      202467 non-null  object
 60  tmdb_AR                      202467 non-null  object
 61  tmdb_RU                      202467 non-null  object
 62  tmdb_DK                      202467 non-null  object
 63  tmdb_NL                      202467 non-null  object
 64  tmdb_BE                      202467 non-null  object
 65  tmdb_AT                      202467 non-null  object
 66  tmdb_TR                      202467 non-null  object
 67  tmdb_PL                      202467 non-null  object
 68  tmdb_CH                      202467 non-null  object
 69  tmdb_XC                      202467 non-null  object
 70  tmdb_FI                      202467 non-null  object
 71  tmdb_NO                      202467 non-null  object
 72  tmdb_IR                      202467 non-null  object
 73  tmdb_XG                      202467 non-null  object
 74  tmdb_EG                      202467 non-null  object
 75  tmdb_NG                      202467 non-null  object
 76  tmdb_ZA                      202467 non-null  object
 77  rating                       9621 non-null    float64
 78  imdbid                       9621 non-null    object
 79  nconst                       561740 non-null  object
 80  primaryName                  561740 non-null  object
dtypes: bool(25), float64(8), int64(2), object(46)
memory usage: 310.5+ MB

In [70]:
BIG_DF_ML3 = BIG_DF_ML.dropna(subset=['title_ratings_averageRating','tmdb_vote_average'],how='all')

In [71]:
BIG_DF_ML3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331142 entries, 0 to 688339
Data columns (total 81 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   tconst                       331142 non-null  object
 1   startYear                    331142 non-null  int64
 2   runtimeMinutes               331142 non-null  int64
 3   Action                       331142 non-null  bool
 4   Adventure                    331142 non-null  bool
 5   Animation                    331142 non-null  bool
 6   Biography                    331142 non-null  bool
 7   Comedy                       331142 non-null  bool
 8   Crime                        331142 non-null  bool
 9   Documentary                  331142 non-null  bool
 10  Drama                        331142 non-null  bool
 11  Family                       331142 non-null  bool
 12  Fantasy                      331142 non-null  bool
 13  Game-Show                    331142 non-null  bool
 14  History                      331142 non-null  bool
 15  Horror                       331142 non-null  bool
 16  Music                        331142 non-null  bool
 17  Musical                      331142 non-null  bool
 18  Mystery                      331142 non-null  bool
 19  News                         331142 non-null  bool
 20  Reality-TV                   331142 non-null  bool
 21  Romance                      331142 non-null  bool
 22  Sci-Fi                       331142 non-null  bool
 23  Sport                        331142 non-null  bool
 24  Talk-Show                    331142 non-null  bool
 25  Thriller                     331142 non-null  bool
 26  War                          331142 non-null  bool
 27  Western                      331142 non-null  bool
 28  title_ratings_tconst         315659 non-null  object
 29  title_ratings_averageRating  315659 non-null  float64
 30  title_ratings_numVotes       315659 non-null  float64
 31  titleId                      330783 non-null  object
 32  title                        330782 non-null  object
 33  tmdb_imdb_id                 202467 non-null  object
 34  tmdb_original_title          202467 non-null  object
 35  tmdb_popularity              202467 non-null  float64
 36  tmdb_release_date            202467 non-null  float64
 37  tmdb_runtime                 202467 non-null  float64
 38  tmdb_title                   202467 non-null  object
 39  tmdb_vote_average            202467 non-null  float64
 40  tmdb_vote_count              202467 non-null  float64
 41  tmdb_TV Movie                202467 non-null  object
 42  tmdb_US                      202467 non-null  object
 43  tmdb_FR                      202467 non-null  object
 44  tmdb_GB                      202467 non-null  object
 45  tmdb_DE                      202467 non-null  object
 46  tmdb_JP                      202467 non-null  object
 47  tmdb_IN                      202467 non-null  object
 48  tmdb_IT                      202467 non-null  object
 49  tmdb_CA                      202467 non-null  object
 50  tmdb_ES                      202467 non-null  object
 51  tmdb_MX                      202467 non-null  object
 52  tmdb_HK                      202467 non-null  object
 53  tmdb_BR                      202467 non-null  object
 54  tmdb_SE                      202467 non-null  object
 55  tmdb_SU                      202467 non-null  object
 56  tmdb_PH                      202467 non-null  object
 57  tmdb_KR                      202467 non-null  object
 58  tmdb_AU                      202467 non-null  object
 59  tmdb_CN                      202467 non-null  object
 60  tmdb_AR                      202467 non-null  object
 61  tmdb_RU                      202467 non-null  object
 62  tmdb_DK                      202467 non-null  object
 63  tmdb_NL                      202467 non-null  object
 64  tmdb_BE                      202467 non-null  object
 65  tmdb_AT                      202467 non-null  object
 66  tmdb_TR                      202467 non-null  object
 67  tmdb_PL                      202467 non-null  object
 68  tmdb_CH                      202467 non-null  object
 69  tmdb_XC                      202467 non-null  object
 70  tmdb_FI                      202467 non-null  object
 71  tmdb_NO                      202467 non-null  object
 72  tmdb_IR                      202467 non-null  object
 73  tmdb_XG                      202467 non-null  object
 74  tmdb_EG                      202467 non-null  object
 75  tmdb_NG                      202467 non-null  object
 76  tmdb_ZA                      202467 non-null  object
 77  rating                       9606 non-null    float64
 78  imdbid                       9606 non-null    object
 79  nconst                       296097 non-null  object
 80  primaryName                  296097 non-null  object
dtypes: bool(25), float64(8), int64(2), object(46)
memory usage: 151.9+ MB

In [72]:
def moyenne_ponderee(ligne):

    # Si 'title_ratings_averageRating' est NaN, on ne prend que 'tmdb_vote_average', et vice versa

    if pd.isna(ligne['title_ratings_averageRating']) and not pd.isna(ligne['tmdb_vote_average']):
        return ligne['tmdb_vote_average']  # Si title_ratings_averageRating est vide, prendre tmdb_vote_average

    elif pd.isna(ligne['tmdb_vote_average']) and not pd.isna(ligne['title_ratings_averageRating']):
        return ligne['title_ratings_averageRating']  # Si tmdb_vote_average est vide, prendre title_ratings_averageRating

    elif not pd.isna(ligne['title_ratings_averageRating']) and not pd.isna(ligne['tmdb_vote_average']):
        # Si les deux colonnes ont des valeurs, calculer la moyenne pondérée
        return (ligne['title_ratings_averageRating'] * ligne['title_ratings_numVotes'] + ligne['tmdb_vote_average'] * ligne['tmdb_vote_count']) / (ligne['title_ratings_numVotes'] + ligne['tmdb_vote_count'])  # Moyenne simple, à ajuster si besoin !
    else:
        return np.nan  # Si les deux sont NaN, retourner NaN


BIG_DF_ML3['notes'] = BIG_DF_ML3.apply(moyenne_ponderee, axis=1)

C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2696331554.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BIG_DF_ML3['notes'] = BIG_DF_ML3.apply(moyenne_ponderee, axis=1)

In [73]:
BIG_DF_ML3[['notes','title_ratings_averageRating','tmdb_vote_average']].sample(10)

           notes  title_ratings_averageRating  tmdb_vote_average
465709  6.600000                          6.6                NaN
11444   6.600000                          6.6                0.0
625098  6.681714                          6.7                6.3
128729  8.100000                          8.1                NaN
106317  4.600000                          4.6                NaN
199584  5.955882                          6.0                5.0
537075  6.100000                          6.1                6.1
26631   5.492386                          5.5                5.0
137444  5.586667                          5.6                4.7
398632  6.200000                          6.2                NaN

In [75]:
BIG_DF_ML4 = BIG_DF_ML3.drop(['title_ratings_averageRating','tmdb_vote_average','title_ratings_tconst','titleId','tmdb_imdb_id','imdbid', 'primaryName'], axis=1)

In [76]:
BIG_DF_ML4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331142 entries, 0 to 688339
Data columns (total 75 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   tconst                  331142 non-null  object
 1   startYear               331142 non-null  int64
 2   runtimeMinutes          331142 non-null  int64
 3   Action                  331142 non-null  bool
 4   Adventure               331142 non-null  bool
 5   Animation               331142 non-null  bool
 6   Biography               331142 non-null  bool
 7   Comedy                  331142 non-null  bool
 8   Crime                   331142 non-null  bool
 9   Documentary             331142 non-null  bool
 10  Drama                   331142 non-null  bool
 11  Family                  331142 non-null  bool
 12  Fantasy                 331142 non-null  bool
 13  Game-Show               331142 non-null  bool
 14  History                 331142 non-null  bool
 15  Horror                  331142 non-null  bool
 16  Music                   331142 non-null  bool
 17  Musical                 331142 non-null  bool
 18  Mystery                 331142 non-null  bool
 19  News                    331142 non-null  bool
 20  Reality-TV              331142 non-null  bool
 21  Romance                 331142 non-null  bool
 22  Sci-Fi                  331142 non-null  bool
 23  Sport                   331142 non-null  bool
 24  Talk-Show               331142 non-null  bool
 25  Thriller                331142 non-null  bool
 26  War                     331142 non-null  bool
 27  Western                 331142 non-null  bool
 28  title_ratings_numVotes  315659 non-null  float64
 29  title                   330782 non-null  object
 30  tmdb_original_title     202467 non-null  object
 31  tmdb_popularity         202467 non-null  float64
 32  tmdb_release_date       202467 non-null  float64
 33  tmdb_runtime            202467 non-null  float64
 34  tmdb_title              202467 non-null  object
 35  tmdb_vote_count         202467 non-null  float64
 36  tmdb_TV Movie           202467 non-null  object
 37  tmdb_US                 202467 non-null  object
 38  tmdb_FR                 202467 non-null  object
 39  tmdb_GB                 202467 non-null  object
 40  tmdb_DE                 202467 non-null  object
 41  tmdb_JP                 202467 non-null  object
 42  tmdb_IN                 202467 non-null  object
 43  tmdb_IT                 202467 non-null  object
 44  tmdb_CA                 202467 non-null  object
 45  tmdb_ES                 202467 non-null  object
 46  tmdb_MX                 202467 non-null  object
 47  tmdb_HK                 202467 non-null  object
 48  tmdb_BR                 202467 non-null  object
 49  tmdb_SE                 202467 non-null  object
 50  tmdb_SU                 202467 non-null  object
 51  tmdb_PH                 202467 non-null  object
 52  tmdb_KR                 202467 non-null  object
 53  tmdb_AU                 202467 non-null  object
 54  tmdb_CN                 202467 non-null  object
 55  tmdb_AR                 202467 non-null  object
 56  tmdb_RU                 202467 non-null  object
 57  tmdb_DK                 202467 non-null  object
 58  tmdb_NL                 202467 non-null  object
 59  tmdb_BE                 202467 non-null  object
 60  tmdb_AT                 202467 non-null  object
 61  tmdb_TR                 202467 non-null  object
 62  tmdb_PL                 202467 non-null  object
 63  tmdb_CH                 202467 non-null  object
 64  tmdb_XC                 202467 non-null  object
 65  tmdb_FI                 202467 non-null  object
 66  tmdb_NO                 202467 non-null  object
 67  tmdb_IR                 202467 non-null  object
 68  tmdb_XG                 202467 non-null  object
 69  tmdb_EG                 202467 non-null  object
 70  tmdb_NG                 202467 non-null  object
 71  tmdb_ZA                 202467 non-null  object
 72  rating                  9606 non-null    float64
 73  nconst                  296097 non-null  object
 74  notes                   331142 non-null  float64
dtypes: bool(25), float64(7), int64(2), object(41)
memory usage: 136.7+ MB

In [77]:
def startyear(ligne):

    # Si 'start year' est 0, il prend la valeur 'tmbd release date'
    BIG_DF_ML4.loc[(BIG_DF_ML4['startYear'] == 0)&(BIG_DF_ML4['tmdb_release_date'] != 0), 'startYear'] = BIG_DF_ML4['tmdb_release_date']

startyear(BIG_DF_ML4)

In [78]:
def release_date(ligne):

    # Si 'tmdn release date' est 0, il prend la valeur 'start year'
    BIG_DF_ML4.loc[(BIG_DF_ML4['tmdb_release_date'] == 0)&(BIG_DF_ML4['startYear'] != 0), 'tmdb_release_date'] = BIG_DF_ML4['startYear']

release_date(BIG_DF_ML4)

In [79]:
def release_date(ligne):

    # Si 'tmdn release date' est 0, il prend la valeur 'start year'
    BIG_DF_ML4.loc[(BIG_DF_ML4['tmdb_release_date'].isna())&(BIG_DF_ML4['startYear'] != 0), 'tmdb_release_date'] = BIG_DF_ML4['startYear']

release_date(BIG_DF_ML4)

In [80]:
BIG_DF_ML4[BIG_DF_ML4['startYear']==0]['startYear']

203435    0.0
221678    0.0
225630    0.0
235096    0.0
235166    0.0
         ...
671323    0.0
679878    0.0
680412    0.0
684006    0.0
685415    0.0
Name: startYear, Length: 200, dtype: float64

In [81]:
BIG_DF_ML4['tmdb_release_date'].isna().sum()

22

In [82]:
BIG_DF_ML4['startYear'].isna().sum()

22

In [83]:
def runtimeMinutes(ligne):

    # Si 'runtimeMinutes' est 0, il prend la valeur 'tmdb_runtime'
    BIG_DF_ML4.loc[(BIG_DF_ML4['runtimeMinutes'] == 0)&(BIG_DF_ML4['tmdb_runtime'] != 0), 'runtimeMinutes'] = BIG_DF_ML4['tmdb_runtime']

runtimeMinutes(BIG_DF_ML4)

In [84]:
def runtimeMinutes(ligne):

    # Si 'tmdb_runtime' est 0, il prend la valeur 'runtimeMinutes'
    BIG_DF_ML4.loc[(BIG_DF_ML4['tmdb_runtime'] == 0)&(BIG_DF_ML4['runtimeMinutes'] != 0), 'tmdb_runtime'] = BIG_DF_ML4['runtimeMinutes']

runtimeMinutes(BIG_DF_ML4)

In [85]:
BIG_DF_ML4[BIG_DF_ML4['runtimeMinutes']==0]['runtimeMinutes']

36        0.0
58        0.0
67        0.0
74        0.0
133       0.0
         ...
686766    0.0
686949    0.0
686965    0.0
687577    0.0
687929    0.0
Name: runtimeMinutes, Length: 5623, dtype: float64

In [86]:
BIG_DF_ML4[BIG_DF_ML4['tmdb_runtime']==0]['tmdb_runtime']

36        0.0
58        0.0
67        0.0
74        0.0
133       0.0
         ...
686766    0.0
686949    0.0
686965    0.0
687577    0.0
687929    0.0
Name: tmdb_runtime, Length: 5623, dtype: float64

In [87]:
BIG_DF_ML4['runtimeMinutes'].isna().sum()

24038

In [88]:
BIG_DF_ML4['tmdb_runtime'].isna().sum()

128675

In [89]:
#On transforme les valeurs 0 en NaN pour les supprimer ensuite
import numpy as np
BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan

C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan
C:\Users\frale\AppData\Local\Temp\ipykernel_21592\2379037837.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  BIG_DF_ML4[BIG_DF_ML4['startYear']==0] = np.nan

In [90]:
#On transforme les valeurs 0 en NaN pour les supprimer ensuite
BIG_DF_ML4[BIG_DF_ML4['runtimeMinutes']==0] = np.nan

In [91]:
BIG_DF_ML5 = BIG_DF_ML4.drop(columns =['tmdb_runtime','tmdb_release_date','tmdb_original_title','tmdb_title','tmdb_vote_count','tmdb_TV Movie'])

In [92]:
BIG_DF_ML5 = BIG_DF_ML5.dropna(subset=['runtimeMinutes'])

In [93]:
BIG_DF_ML5 = BIG_DF_ML5.dropna(subset=['startYear'])

In [94]:
BIG_DF_ML5 = BIG_DF_ML5.dropna(subset=['title'])

In [95]:
# Pour notre ML, on remplace toutes les valeurs nulles des pays de production par False 
Remplacer = [
    'tmdb_US', 'tmdb_FR', 'tmdb_GB', 'tmdb_DE', 'tmdb_JP', 'tmdb_IN', 'tmdb_IT',
    'tmdb_CA', 'tmdb_ES', 'tmdb_MX', 'tmdb_HK', 'tmdb_BR', 'tmdb_SE', 'tmdb_SU',
    'tmdb_PH', 'tmdb_KR', 'tmdb_AU', 'tmdb_CN', 'tmdb_AR', 'tmdb_RU', 'tmdb_DK',
    'tmdb_NL', 'tmdb_BE', 'tmdb_AT', 'tmdb_TR', 'tmdb_PL', 'tmdb_CH', 'tmdb_XC',
    'tmdb_FI', 'tmdb_NO', 'tmdb_IR', 'tmdb_XG', 'tmdb_EG', 'tmdb_NG', 'tmdb_ZA'
]
BIG_DF_ML5[Remplacer] = BIG_DF_ML5[Remplacer].fillna(False)

C:\Users\frale\AppData\Local\Temp\ipykernel_21592\61637864.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  BIG_DF_ML5[Remplacer] = BIG_DF_ML5[Remplacer].fillna(False)

In [96]:
BIG_DF_ML5['rating'] = BIG_DF_ML5['rating'].fillna(0)

In [97]:
BIG_DF_ML5['title_ratings_numVotes'] = BIG_DF_ML5['title_ratings_numVotes'].fillna(0)

In [98]:
BIG_DF_ML5['tmdb_popularity'] = BIG_DF_ML5['tmdb_popularity'].fillna(0)

In [101]:
BIG_DF_ML5['nconst'] = BIG_DF_ML5['nconst'].fillna("")

In [102]:
BIG_DF_ML5_copy = BIG_DF_ML5.copy()

In [104]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X_tfidf = tfidf.fit_transform(BIG_DF_ML5['nconst'])

In [112]:

"""# Étape 3 : Combiner les TF-IDF avec les autres caractéristiques
from scipy.sparse import hstack

features_ml = BIG_DF_ML5.drop(columns=['nconst'])  # Exclure temporairement 'writers'
combined_features = hstack([X_tfidf, features_ml])

# Étape 4 : Entraîner le modèle NearestNeighbors
model = NearestNeighbors(n_neighbors=10, metric='cosine')
model.fit(combined_features)

# Étape 5 : Exemple de prédiction
film_index = X_encoded[X_encoded['tconst'] == 'tt1375666'].index[0]  # Trouver l'index du film recherché
distances, indices = model.kneighbors(combined_features[film_index])

# Afficher les résultats
print("Films similaires :")
print(X_encoded.iloc[indices[0]]['title'])"""

'# Étape 3 : Combiner les TF-IDF avec les autres caractéristiques\nfrom scipy.sparse import hstack\n\nfeatures_ml = BIG_DF_ML5.drop(columns=[\'nconst\'])  # Exclure temporairement \'writers\'\ncombined_features = hstack([X_tfidf, features_ml])\n\n# Étape 4 : Entraîner le modèle NearestNeighbors\nmodel = NearestNeighbors(n_neighbors=10, metric=\'cosine\')\nmodel.fit(combined_features)\n\n# Étape 5 : Exemple de prédiction\nfilm_index = X_encoded[X_encoded[\'tconst\'] == \'tt1375666\'].index[0]  # Trouver l\'index du film recherché\ndistances, indices = model.kneighbors(combined_features[film_index])\n\n# Afficher les résultats\nprint("Films similaires :")\nprint(X_encoded.iloc[indices[0]][\'title\'])'

In [56]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

import seaborn as sns
import matplotlib.pyplot as plt

In [57]:
export = "../gitignore/BIG_DF_ML.tsv"
BIG_DF_ML5.to_csv(export, sep="\t", index=False)

In [153]:
BIG_DF_ML5.head(200)

,tconst,startYear,runtimeMinutes,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,...,tmdb_XC,tmdb_FI,tmdb_NO,tmdb_IR,tmdb_XG,tmdb_EG,tmdb_NG,tmdb_ZA,rating,notes
0,tt0000009,1894.0,45.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,5.400000
1,tt0000147,1897.0,100.0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,0.0,5.211664
2,tt0000502,1905.0,100.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,4.400000
3,tt0000574,1906.0,70.0,True,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,1.0,5.981921
4,tt0000591,1907.0,90.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,5.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,tt0004873,1915.0,52.0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,6.092692
837,tt0004883,1915.0,50.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,4.400000
843,tt0004897,1915.0,50.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,4.000000
844,tt0004901,1915.0,50.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,0.000000
846,tt0004905,1915.0,50.0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,0.0,5.400000

In [197]:
BIG_DF_ML5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 301086 entries, 0 to 688339
Data columns (total 69 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   tconst                  301086 non-null  object
 1   startYear               301086 non-null  float64
 2   runtimeMinutes          301086 non-null  float64
 3   Action                  301086 non-null  object
 4   Adventure               301086 non-null  object
 5   Animation               301086 non-null  object
 6   Biography               301086 non-null  object
 7   Comedy                  301086 non-null  object
 8   Crime                   301086 non-null  object
 9   Documentary             301086 non-null  object
 10  Drama                   301086 non-null  object
 11  Family                  301086 non-null  object
 12  Fantasy                 301086 non-null  object
 13  Game-Show               301086 non-null  object
 14  History                 301086 non-null  object
 15  Horror                  301086 non-null  object
 16  Music                   301086 non-null  object
 17  Musical                 301086 non-null  object
 18  Mystery                 301086 non-null  object
 19  News                    301086 non-null  object
 20  Reality-TV              301086 non-null  object
 21  Romance                 301086 non-null  object
 22  Sci-Fi                  301086 non-null  object
 23  Sport                   301086 non-null  object
 24  Talk-Show               301086 non-null  object
 25  Thriller                301086 non-null  object
 26  War                     301086 non-null  object
 27  Western                 301086 non-null  object
 28  title_ratings_numVotes  301086 non-null  float64
 29  title                   301086 non-null  object
 30  liste_titles            301086 non-null  object
 31  tmdb_popularity         301086 non-null  float64
 32  tmdb_US                 301086 non-null  bool
 33  tmdb_FR                 301086 non-null  bool
 34  tmdb_GB                 301086 non-null  bool
 35  tmdb_DE                 301086 non-null  bool
 36  tmdb_JP                 301086 non-null  bool
 37  tmdb_IN                 301086 non-null  bool
 38  tmdb_IT                 301086 non-null  bool
 39  tmdb_CA                 301086 non-null  bool
 40  tmdb_ES                 301086 non-null  bool
 41  tmdb_MX                 301086 non-null  bool
 42  tmdb_HK                 301086 non-null  bool
 43  tmdb_BR                 301086 non-null  bool
 44  tmdb_SE                 301086 non-null  bool
 45  tmdb_SU                 301086 non-null  bool
 46  tmdb_PH                 301086 non-null  bool
 47  tmdb_KR                 301086 non-null  bool
 48  tmdb_AU                 301086 non-null  bool
 49  tmdb_CN                 301086 non-null  bool
 50  tmdb_AR                 301086 non-null  bool
 51  tmdb_RU                 301086 non-null  bool
 52  tmdb_DK                 301086 non-null  bool
 53  tmdb_NL                 301086 non-null  bool
 54  tmdb_BE                 301086 non-null  bool
 55  tmdb_AT                 301086 non-null  bool
 56  tmdb_TR                 301086 non-null  bool
 57  tmdb_PL                 301086 non-null  bool
 58  tmdb_CH                 301086 non-null  bool
 59  tmdb_XC                 301086 non-null  bool
 60  tmdb_FI                 301086 non-null  bool
 61  tmdb_NO                 301086 non-null  bool
 62  tmdb_IR                 301086 non-null  bool
 63  tmdb_XG                 301086 non-null  bool
 64  tmdb_EG                 301086 non-null  bool
 65  tmdb_NG                 301086 non-null  bool
 66  tmdb_ZA                 301086 non-null  bool
 67  rating                  301086 non-null  float64
 68  notes                   301086 non-null  float64
dtypes: bool(35), float64(6), object(28)
memory usage: 90.4+ MB

# Premier test de ML

In [123]:
def encodage_X(X, type='standard'):
  index = X.index
  X_num = X.select_dtypes('number')
  X_cat = X.select_dtypes(['object', 'category', 'string', 'bool'])

  if type == 'standard':
    from sklearn.preprocessing import StandardScaler
    SN = StandardScaler()
    X_num_SN = pd.DataFrame(SN.fit_transform(X_num), columns=X_num.columns, index=index)

  else:
    from sklearn.preprocessing import MinMaxScaler
    SN = MinMaxScaler()
    X_num_SN = pd.DataFrame(SN.fit_transform(X_num), columns=X_num.columns, index=index)


  X_encoded = pd.concat([X_num_SN, X_cat], axis=1)

  return X_encoded, SN

X_encoded, SN = encodage_X(BIG_DF_ML5, type = 'normal')

In [124]:
#On crée une liste des colonnes à utiliser pour le modèle
caracteristiques = X_encoded.columns.drop(['tconst', 'title', 'liste_titles'])
caracteristiques

Index(['startYear', 'runtimeMinutes', 'title_ratings_numVotes',
       'tmdb_popularity', 'rating', 'notes', 'Action', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Sport', 'Talk-Show', 'Thriller', 'War', 'Western', 'tmdb_US',
       'tmdb_FR', 'tmdb_GB', 'tmdb_DE', 'tmdb_JP', 'tmdb_IN', 'tmdb_IT',
       'tmdb_CA', 'tmdb_ES', 'tmdb_MX', 'tmdb_HK', 'tmdb_BR', 'tmdb_SE',
       'tmdb_SU', 'tmdb_PH', 'tmdb_KR', 'tmdb_AU', 'tmdb_CN', 'tmdb_AR',
       'tmdb_RU', 'tmdb_DK', 'tmdb_NL', 'tmdb_BE', 'tmdb_AT', 'tmdb_TR',
       'tmdb_PL', 'tmdb_CH', 'tmdb_XC', 'tmdb_FI', 'tmdb_NO', 'tmdb_IR',
       'tmdb_XG', 'tmdb_EG', 'tmdb_NG', 'tmdb_ZA'],
      dtype='object')

In [125]:
model = NearestNeighbors(n_neighbors=5, metric='euclidean')
model.fit(X_encoded.drop(columns = ['tconst', 'title', 'liste_titles']))

NearestNeighbors(metric='euclidean')

In [126]:
caract_film = X_encoded[X_encoded['title']== 'Inception']
caract_film

,startYear,runtimeMinutes,title_ratings_numVotes,tmdb_popularity,rating,notes,tconst,Action,Adventure,Animation,...,tmdb_PL,tmdb_CH,tmdb_XC,tmdb_FI,tmdb_NO,tmdb_IR,tmdb_XG,tmdb_EG,tmdb_NG,tmdb_ZA
300525,0.885496,0.002472,0.881844,0.015148,1.0,0.879444,tt1375666,True,True,False,...,False,False,False,False,False,False,False,False,False,False

In [127]:
caract_film = caract_film[caracteristiques]
caract_film

,startYear,runtimeMinutes,title_ratings_numVotes,tmdb_popularity,rating,notes,Action,Adventure,Animation,Biography,...,tmdb_PL,tmdb_CH,tmdb_XC,tmdb_FI,tmdb_NO,tmdb_IR,tmdb_XG,tmdb_EG,tmdb_NG,tmdb_ZA
300525,0.885496,0.002472,0.881844,0.015148,1.0,0.879444,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [128]:
distances, indices = model.kneighbors(caract_film)

In [129]:
X_encoded.iloc[indices[0]]['title']

300525                           Inception
62787                           Terminator
208782                        Man of Steel
58480     Superman II, L'aventure continue
66472          Superman IV: Le face à face
Name: title, dtype: object

# Second test de ML avec cible sur les notes > 7

On veut entrainer notre modèle sur tout le dataframe et afficher UNIQUEMENT les x films les plus proches dont les notes sont supérieures à 7.

In [448]:
def encodage_X(X, type='standard'):
  index = X.index
  X_num = X.select_dtypes('number')
  X_cat = X.select_dtypes(['object', 'category', 'string', 'bool'])
 
  if type == 'standard':
    from sklearn.preprocessing import StandardScaler
    SN = StandardScaler()
    X_num_SN = pd.DataFrame(SN.fit_transform(X_num), columns=X_num.columns, index=index)

  else:
    from sklearn.preprocessing import MinMaxScaler
    SN = MinMaxScaler()
    X_num_SN = pd.DataFrame(SN.fit_transform(X_num), columns=X_num.columns, index=index)

  X_encoded = pd.concat([X_num_SN, X_cat], axis=1)

  return X_encoded, SN

In [449]:
X = BIG_DF_ML5
X_encoded, SN = encodage_X(X, type = 'normal')

In [548]:
#On crée une liste des colonnes à utiliser pour le modèle
caracteristiques = X_encoded.columns.drop(['tconst', 'title', 'liste_titles', 'tmdb_popularity', 'title_ratings_numVotes','tmdb_US',
       'tmdb_FR', 'tmdb_GB', 'tmdb_DE', 'tmdb_JP', 'tmdb_IN', 'tmdb_IT',
       'tmdb_CA', 'tmdb_ES', 'tmdb_MX', 'tmdb_HK', 'tmdb_BR', 'tmdb_SE',
       'tmdb_SU', 'tmdb_PH', 'tmdb_KR', 'tmdb_AU', 'tmdb_CN', 'tmdb_AR',
       'tmdb_RU', 'tmdb_DK', 'tmdb_NL', 'tmdb_BE', 'tmdb_AT', 'tmdb_TR',
       'tmdb_PL', 'tmdb_CH', 'tmdb_XC', 'tmdb_FI', 'tmdb_NO', 'tmdb_IR',
       'tmdb_XG', 'tmdb_EG', 'tmdb_NG', 'tmdb_ZA'])
caracteristiques

Index(['startYear', 'runtimeMinutes', 'rating', 'notes', 'Action', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'],
      dtype='object')

In [645]:
#
weights = X_encoded[['Action', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']].astype(bool)
weights *= 2
X_weighted = pd.concat([weights, X_encoded.drop(columns = ['Action', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'])], axis=1)

In [646]:
bons_films = X_weighted[X_weighted['notes'] >= 0.7]
mauvais_films = X_weighted[X_weighted['notes'] < 0.7]

In [647]:
model = NearestNeighbors(n_neighbors=10, metric='euclidean')
model.fit(bons_films[caracteristiques])

NearestNeighbors(metric='euclidean', n_neighbors=10)

In [657]:
caract_film = X_weighted[X_encoded['tconst'] == 'tt0107688']
caract_film = caract_film[caracteristiques]
caract_film

,startYear,runtimeMinutes,rating,notes,Action,Adventure,Animation,Biography,Comedy,Crime,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
74808,0.755725,0.001261,0.333333,0.789875,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [658]:
distances, indices = model.kneighbors(caract_film)

In [659]:
distances

array([[0.        , 0.09227778, 0.33734213, 0.34558039, 0.34834874,
        0.35138818, 0.35474973, 0.35669123, 0.35991903, 0.38063949]])

In [660]:
indices

array([[ 9924, 11164, 21465, 14604,  7235, 12148,  6780,  7979, 43923,
        47073]], dtype=int64)

In [661]:
if caract_film['notes'].values[0] > 0.7:
    distances = distances[0][1:]
    indices = indices[0][1:]
    selection = bons_films.iloc[indices]['title']
else:
    selection = bons_films.iloc[indices[0]]['title']

In [662]:
selection

82107                                 Fantasia 2000
167209                            Carobnjakov sesir
109843                    Olivier et le dragon vert
57352                            Le roi et l'oiseau
90536                            La petite sorcière
54708                            L'apprenti sorcier
62069                             Gurikku no bouken
353618    Rainbow Magic: Return to Rainspell Island
375977                             The Golden Horse
Name: title, dtype: object

In [674]:
X_encoded['liste_titles'] = X_encoded['liste_titles'].apply(lambda x: x.replace('\\', ''))

In [676]:
caract_film = X_weighted[X_encoded['tconst'] == 'tt0107688']

caract_film['liste_titles'].iloc[0]

'[\'Cauchemar avant Noël\', "L\'Étrange Noël de monsieur Jack", "Tim Burton présente L\'Étrange Noël de monsieur Jack"]'

# OPTIMISATION DE K

In [663]:
"""def evaluate_k(X_encoded, k_range):

    from sklearn.metrics import silhouette_score
    from sklearn.cluster import KMeans
    from sklearn.neighbors import NearestNeighbors
    import numpy as np

    avg_distances = []
    silhouette_scores = []

    for k in k_range:
        # Calcul des distances moyennes pour chaque k
        model = NearestNeighbors(n_neighbors=k)
        model.fit(X_encoded)
        distances, _ = model.kneighbors(X_encoded)
        avg_distances.append(np.mean(distances))

        # Calcul du score de silhouette
        # Nous utilisons KMeans pour créer des clusters et évaluer la qualité
        kmeans = KMeans(n_clusters=k, random_state=42)
        clusters = kmeans.fit_predict(X_encoded)
        if k > 1:  # Le score de silhouette nécessite au moins 2 clusters
            silhouette_scores.append(silhouette_score(X_encoded, clusters))
        else:
            silhouette_scores.append(0)

    return avg_distances, silhouette_scores"""

'def evaluate_k(X_encoded, k_range):\n\n    from sklearn.metrics import silhouette_score\n    from sklearn.cluster import KMeans\n    from sklearn.neighbors import NearestNeighbors\n    import numpy as np\n\n    avg_distances = []\n    silhouette_scores = []\n\n    for k in k_range:\n        # Calcul des distances moyennes pour chaque k\n        model = NearestNeighbors(n_neighbors=k)\n        model.fit(X_encoded)\n        distances, _ = model.kneighbors(X_encoded)\n        avg_distances.append(np.mean(distances))\n\n        # Calcul du score de silhouette\n        # Nous utilisons KMeans pour créer des clusters et évaluer la qualité\n        kmeans = KMeans(n_clusters=k, random_state=42)\n        clusters = kmeans.fit_predict(X_encoded)\n        if k > 1:  # Le score de silhouette nécessite au moins 2 clusters\n            silhouette_scores.append(silhouette_score(X_encoded, clusters))\n        else:\n            silhouette_scores.append(0)\n\n    return avg_distances, silhouette_scores'

In [664]:
"""import matplotlib.pyplot as plt

# Définition de la plage de k à tester
k_range = range(2, 21)

# Évaluation des différentes valeurs de k
X_input = X_encoded.drop(columns=['tconst', 'title', 'liste_titles'])
avg_distances, silhouette_scores = evaluate_k(X_input, k_range)

# Création d'une visualisation pour aider à choisir k
plt.figure(figsize=(12, 5))

# Premier graphique : Distance moyenne aux voisins
plt.subplot(1, 2, 1)
plt.plot(k_range, avg_distances, 'bo-')
plt.xlabel('Nombre de voisins (k)')
plt.ylabel('Distance moyenne aux voisins')
plt.title('Distance moyenne en fonction de k')
plt.grid(True)

# Second graphique : Score de silhouette
plt.subplot(1, 2, 2)
plt.plot(k_range, silhouette_scores, 'ro-')
plt.xlabel('Nombre de clusters (k)')
plt.ylabel('Score de silhouette')
plt.title('Score de silhouette en fonction de k')
plt.grid(True)

plt.tight_layout()
plt.show()"""

"import matplotlib.pyplot as plt\n\n# Définition de la plage de k à tester\nk_range = range(2, 21)\n\n# Évaluation des différentes valeurs de k\nX_input = X_encoded.drop(columns=['tconst', 'title', 'liste_titles'])\navg_distances, silhouette_scores = evaluate_k(X_input, k_range)\n\n# Création d'une visualisation pour aider à choisir k\nplt.figure(figsize=(12, 5))\n\n# Premier graphique : Distance moyenne aux voisins\nplt.subplot(1, 2, 1)\nplt.plot(k_range, avg_distances, 'bo-')\nplt.xlabel('Nombre de voisins (k)')\nplt.ylabel('Distance moyenne aux voisins')\nplt.title('Distance moyenne en fonction de k')\nplt.grid(True)\n\n# Second graphique : Score de silhouette\nplt.subplot(1, 2, 2)\nplt.plot(k_range, silhouette_scores, 'ro-')\nplt.xlabel('Nombre de clusters (k)')\nplt.ylabel('Score de silhouette')\nplt.title('Score de silhouette en fonction de k')\nplt.grid(True)\n\nplt.tight_layout()\nplt.show()"

In [665]:
"""# Trouver k optimal
meilleur_k = k_range[silhouette_scores.index(max(silhouette_scores))]
print(f"Le k optimal est : {meilleur_k}")"""

'# Trouver k optimal\nmeilleur_k = k_range[silhouette_scores.index(max(silhouette_scores))]\nprint(f"Le k optimal est : {meilleur_k}")'