In [114]:
import pandas as pd

In [115]:
file_path_episodes = "../exploration/BIG_DF_ML.ipynb"

db01 = pd.read_csv("../gitignore/title_basics_traite.csv")
db02 = pd.read_csv("../gitignore/title_ratings_final.tsv", sep="\t")
db03 = pd.read_csv("../gitignore/title.akas_final.tsv", sep="\t")
db04 = pd.read_csv("../gitignore/tmdb_ml_final.csv")
db05 = pd.read_csv("../gitignore/data_bechdel.csv")
#db06 = pd.read_csv("../gitignore/title.principals4.tsv", sep="\t") #INFO
#db07 = pd.read_csv("../gitignore/name.basics.tsv", sep="\t") # INFO
#db08 = pd.read_csv("../gitignore/title.crew.tsv", sep="\t") # INFO

In [116]:
db01_tot = db01.shape[0] # TITLE BASICS
print(f"Total: {db01_tot}")
db01.nunique()

Total: 688341

tconst            688341
titleType              1
startYear            138
runtimeMinutes       517
genres              1398
decade                16
Action                 2
Adult                  1
Adventure              2
Animation              2
Biography              2
Comedy                 2
Crime                  2
Documentary            2
Drama                  2
Family                 2
Fantasy                2
Game-Show              2
History                2
Horror                 2
Music                  2
Musical                2
Mystery                2
News                   2
Reality-TV             2
Romance                2
Sci-Fi                 2
Short                  1
Sport                  2
Talk-Show              2
Thriller               2
War                    2
Western                2
movie                  1
dtype: int64

In [117]:
display(db01.sample(10))

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,movie
661022,tt8409446,movie,0,0,"Drama,History,Thriller",0,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
167750,tt0334588,movie,1955,73,"Comedy,Sci-Fi",1950,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
280361,tt1281940,movie,1986,0,Fantasy,1980,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
81248,tt0119590,movie,1997,88,Drama,1990,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
144707,tt0268237,movie,1973,83,Comedy,1970,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
491429,tt3097310,movie,2015,50,"Documentary,Drama,History",2010,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
533096,tt34392602,movie,1976,81,Drama,1970,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
506414,tt32222180,movie,2023,68,Music,2020,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
479867,tt29717644,movie,2023,109,Drama,2020,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
449500,tt2719498,movie,0,90,"Adventure,Family,Sci-Fi",0,False,False,True,False,...,False,False,True,False,False,False,False,False,False,True

In [118]:
db02_tot = db02.shape[0] # TITLE RATINGS
print(f"Total: {db02_tot}")
db02.nunique()

Total: 1500950

title_ratings_tconst           1500950
title_ratings_averageRating         91
title_ratings_numVotes           22785
dtype: int64

In [119]:
dbmerge_1 = pd.merge(db01, db02, right_on='title_ratings_tconst', left_on='tconst', how='left') # TITLE BASICS + TITLE RATINGS

In [120]:
display(dbmerge_1.head()) # TITLE BASICS + TITLE RATINGS

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,Short,Sport,Talk-Show,Thriller,War,Western,movie,title_ratings_tconst,title_ratings_averageRating,title_ratings_numVotes
0,tt0000009,movie,1894,45,Romance,1890,False,False,False,False,...,False,False,False,False,False,False,True,tt0000009,5.4,215.0
1,tt0000147,movie,1897,100,"Documentary,News,Sport",1890,False,False,False,False,...,False,True,False,False,False,False,True,tt0000147,5.2,539.0
2,tt0000502,movie,1905,100,\N,1900,False,False,False,False,...,False,False,False,False,False,False,True,tt0000502,4.4,18.0
3,tt0000574,movie,1906,70,"Action,Adventure,Biography",1900,True,False,True,False,...,False,False,False,False,False,False,True,tt0000574,6.0,940.0
4,tt0000591,movie,1907,90,Drama,1900,False,False,False,False,...,False,False,False,False,False,False,True,tt0000591,5.7,28.0

In [121]:
dbmerge_1_tot = dbmerge_1.shape[0] # TITLE BASICS + TITLE RATINGS
print(f"Total: {dbmerge_1_tot}")
dbmerge_1.nunique()

Total: 688341

tconst                         688341
titleType                           1
startYear                         138
runtimeMinutes                    517
genres                           1398
decade                             16
Action                              2
Adult                               1
Adventure                           2
Animation                           2
Biography                           2
Comedy                              2
Crime                               2
Documentary                         2
Drama                               2
Family                              2
Fantasy                             2
Game-Show                           2
History                             2
Horror                              2
Music                               2
Musical                             2
Mystery                             2
News                                2
Reality-TV                          2
Romance                             2
Sci-Fi                              2
Short                               1
Sport                               2
Talk-Show                           2
Thriller                            2
War                                 2
Western                             2
movie                               1
title_ratings_tconst           315659
title_ratings_averageRating        91
title_ratings_numVotes          18802
dtype: int64

In [122]:
db03_tot = db03.shape[0] # TITLE AKAS
print(f"Total: {db03_tot}")
db03.nunique()

Total: 11214224

titleId            11214224
ordering                 78
title               5073850
region                    2
language                  5
types                     9
attributes               91
isOriginalTitle           2
liste_titles        5076704
dtype: int64

In [123]:
display(db03.sample(10))

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,liste_titles
8745994,tt28800221,1,Debate on Rural vs Urban Women,\N,\N,original,\N,1,['Debate on Rural vs Urban Women']
145945,tt0753794,4,Épisode #1.34,FR,fr,\N,\N,0,['Épisode #1.34']
3566509,tt33047751,4,Épisode #1.8504,FR,fr,\N,\N,0,['Épisode #1.8504']
10537221,tt7120750,1,Avsnitt 4,\N,\N,original,\N,1,['Avsnitt 4']
2679649,tt2425514,4,Épisode #18.29,FR,fr,\N,\N,0,['Épisode #18.29']
8826550,tt29520561,1,Akio Jissoji's Wonder Museum 1,\N,\N,original,\N,1,"[""Akio Jissoji's Wonder Museum 1""]"
8350065,tt2513170,1,Tu-Na House,\N,\N,original,\N,1,['Tu-Na House']
9424873,tt3379364,1,Smart Face,\N,\N,original,\N,1,['Smart Face']
6124584,tt11662532,1,Trap,\N,\N,original,\N,1,['Trap']
2502069,tt22093942,4,Épisode #1.85,FR,fr,\N,\N,0,['Épisode #1.85']

In [124]:
dbmerge_2 = pd.merge(dbmerge_1, db03, left_on='tconst', right_on='titleId', how='left') # (TITLE BASICS + TITLE RATINGS) + TITLE AKAS

In [125]:
display(dbmerge_2.head(10)) # (TITLE BASICS + TITLE RATINGS) + TITLE AKAS

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,title_ratings_numVotes,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,liste_titles
0,tt0000009,movie,1894,45,Romance,1890,False,False,False,False,...,215.0,tt0000009,1.0,Miss Jerry,\N,\N,original,\N,1.0,['Miss Jerry']
1,tt0000147,movie,1897,100,"Documentary,News,Sport",1890,False,False,False,False,...,539.0,tt0000147,1.0,The Corbett-Fitzsimmons Fight,\N,\N,original,\N,1.0,['The Corbett-Fitzsimmons Fight']
2,tt0000502,movie,1905,100,\N,1900,False,False,False,False,...,18.0,tt0000502,1.0,Bohemios,\N,\N,original,\N,1.0,['Bohemios']
3,tt0000574,movie,1906,70,"Action,Adventure,Biography",1900,True,False,True,False,...,940.0,tt0000574,1.0,The Story of the Kelly Gang,\N,\N,original,\N,1.0,['The Story of the Kelly Gang']
4,tt0000591,movie,1907,90,Drama,1900,False,False,False,False,...,28.0,tt0000591,2.0,L'enfant prodigue,FR,\N,imdbDisplay,\N,0.0,"[""L'enfant prodigue""]"
5,tt0000615,movie,1907,0,Drama,1900,False,False,False,False,...,27.0,tt0000615,1.0,Robbery Under Arms,\N,\N,original,\N,1.0,['Robbery Under Arms']
6,tt0000630,movie,1908,0,Drama,1900,False,False,False,False,...,30.0,tt0000630,1.0,Amleto,\N,\N,original,\N,1.0,['Amleto']
7,tt0000675,movie,1908,0,Drama,1900,False,False,False,False,...,22.0,tt0000675,1.0,Don Quijote,\N,\N,original,\N,1.0,['Don Quijote']
8,tt0000679,movie,1908,120,"Adventure,Fantasy",1900,False,False,True,False,...,78.0,tt0000679,1.0,The Fairylogue and Radio-Plays,\N,\N,original,\N,1.0,['The Fairylogue and Radio-Plays']
9,tt0000838,movie,1909,0,\N,1900,False,False,False,False,...,NaN,tt0000838,1.0,A Cultura do Cacau,\N,\N,original,\N,1.0,['A Cultura do Cacau']

In [126]:
dbmerge_2_tot = dbmerge_2.shape[0] # (TITLE BASICS + TITLE RATINGS) + TITLE AKAS
print(f"Total: {dbmerge_2_tot}")
dbmerge_2.nunique()

Total: 688341

tconst                         688341
titleType                           1
startYear                         138
runtimeMinutes                    517
genres                           1398
decade                             16
Action                              2
Adult                               1
Adventure                           2
Animation                           2
Biography                           2
Comedy                              2
Crime                               2
Documentary                         2
Drama                               2
Family                              2
Fantasy                             2
Game-Show                           2
History                             2
Horror                              2
Music                               2
Musical                             2
Mystery                             2
News                                2
Reality-TV                          2
Romance                             2
Sci-Fi                              2
Short                               1
Sport                               2
Talk-Show                           2
Thriller                            2
War                                 2
Western                             2
movie                               1
title_ratings_tconst           315659
title_ratings_averageRating        91
title_ratings_numVotes          18802
titleId                        686728
ordering                           77
title                          608029
region                              2
language                            4
types                               9
attributes                         71
isOriginalTitle                     2
liste_titles                   609144
dtype: int64

In [127]:
db04_tot = db04.shape[0] # TMDB FULL
print(f"Total: {db04_tot}")
db04.nunique()

Total: 306290

tmdb_imdb_id           306290
tmdb_original_title    281936
tmdb_popularity         18234
tmdb_release_date         141
tmdb_runtime              460
                        ...
tmdb_IR                     2
tmdb_XG                     2
tmdb_EG                     2
tmdb_NG                     2
tmdb_ZA                     2
Length: 62, dtype: int64

In [128]:
dbmerge_3 = pd.merge(dbmerge_2, db04, left_on='tconst', right_on='tmdb_imdb_id', how='left') # ((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL)

In [129]:
display(dbmerge_3.head()) # ((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL)

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,tmdb_PL,tmdb_CH,tmdb_XC,tmdb_FI,tmdb_NO,tmdb_IR,tmdb_XG,tmdb_EG,tmdb_NG,tmdb_ZA
0,tt0000009,movie,1894,45,Romance,1890,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000147,movie,1897,100,"Documentary,News,Sport",1890,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0000502,movie,1905,100,\N,1900,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000574,movie,1906,70,"Action,Adventure,Biography",1900,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,tt0000591,movie,1907,90,Drama,1900,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [130]:
dbmerge_3_tot = dbmerge_3.shape[0] # ((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL)
print(f"Total: {dbmerge_3_tot}")
dbmerge_3.nunique()

Total: 688341

tconst            688341
titleType              1
startYear            138
runtimeMinutes       517
genres              1398
                   ...
tmdb_IR                2
tmdb_XG                2
tmdb_EG                2
tmdb_NG                2
tmdb_ZA                2
Length: 108, dtype: int64

In [131]:
db05_tot = db05.shape[0] # BECHDEL
print(f"Total: {db05_tot}")
db05.nunique()

Total: 10440

rating        4
imdbid    10440
dtype: int64

In [132]:
dbmerge_4 = pd.merge(dbmerge_3, db05, left_on='tconst', right_on='imdbid', how='left') # (((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL) + BECHDEL)

In [133]:
display(dbmerge_4.head()) # (((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL) + BECHDEL)

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,tmdb_XC,tmdb_FI,tmdb_NO,tmdb_IR,tmdb_XG,tmdb_EG,tmdb_NG,tmdb_ZA,rating,imdbid
0,tt0000009,movie,1894,45,Romance,1890,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,tt0000009
1,tt0000147,movie,1897,100,"Documentary,News,Sport",1890,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,NaN
2,tt0000502,movie,1905,100,\N,1900,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000574,movie,1906,70,"Action,Adventure,Biography",1900,True,False,True,False,...,False,False,False,False,False,False,False,False,1.0,tt0000574
4,tt0000591,movie,1907,90,Drama,1900,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,NaN

In [134]:
dbmerge_4_tot = dbmerge_4.shape[0] # (((TITLE BASICS + TITLE RATINGS) + TITLE AKAS + TMDB FULL) + BECHDEL) = BIG_DF_RAW
print(f"Total: {dbmerge_4_tot}")
dbmerge_4.nunique()

Total: 688341

tconst            688341
titleType              1
startYear            138
runtimeMinutes       517
genres              1398
                   ...
tmdb_EG                2
tmdb_NG                2
tmdb_ZA                2
rating                 4
imdbid              9621
Length: 110, dtype: int64

In [135]:
display(dbmerge_4.isna().sum())

tconst                 0
titleType              0
startYear              0
runtimeMinutes         0
genres                 0
                   ...
tmdb_EG           485874
tmdb_NG           485874
tmdb_ZA           485874
rating            678720
imdbid            678720
Length: 110, dtype: int64

In [136]:
#dbmerge_4.to_csv("../gitignore/BIG_DF_ML.csv", index=False)

In [137]:
dbmerge_4['movie'].value_counts()

movie
True    688341
Name: count, dtype: int64

In [138]:
BIG_DF_ML = dbmerge_4.drop(columns=[
    'titleType',
    'genres', 
    'decade', 
    'Adult',
    'Short',
    'movie',
    'tmdb_Comedy',
    'tmdb_Adventure',
    'tmdb_Drama',
    'tmdb_Crime',
    'tmdb_Action',
    'tmdb_Documentary',
    'tmdb_Animation',
    'tmdb_Mystery',
    'tmdb_Horror',
    'tmdb_Western',
    'tmdb_Science Fiction',
    'tmdb_Thriller',
    'tmdb_Romance',
    'tmdb_Fantasy',
    'tmdb_Family',
    'tmdb_History',
    'tmdb_Music',
    'tmdb_War'
])

In [139]:
BIG_DF_ML.loc[(dbmerge_4['title_ratings_averageRating'].isnull())&(dbmerge_4['tmdb_vote_average'].isnull()), ['title_ratings_tconst', 'title_ratings_averageRating', 'tmdb_vote_average']]

       title_ratings_tconst  title_ratings_averageRating  tmdb_vote_average
9                       NaN                          NaN                NaN
10                      NaN                          NaN                NaN
11                      NaN                          NaN                NaN
12                      NaN                          NaN                NaN
13                      NaN                          NaN                NaN
...                     ...                          ...                ...
688329                  NaN                          NaN                NaN
688335                  NaN                          NaN                NaN
688336                  NaN                          NaN                NaN
688337                  NaN                          NaN                NaN
688340                  NaN                          NaN                NaN

[357199 rows x 3 columns]

In [140]:
BIG_DF_ML.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688341 entries, 0 to 688340
Data columns (total 86 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   tconst                       688341 non-null  object
 1   startYear                    688341 non-null  int64
 2   runtimeMinutes               688341 non-null  int64
 3   Action                       688341 non-null  bool
 4   Adventure                    688341 non-null  bool
 5   Animation                    688341 non-null  bool
 6   Biography                    688341 non-null  bool
 7   Comedy                       688341 non-null  bool
 8   Crime                        688341 non-null  bool
 9   Documentary                  688341 non-null  bool
 10  Drama                        688341 non-null  bool
 11  Family                       688341 non-null  bool
 12  Fantasy                      688341 non-null  bool
 13  Game-Show                    688341 non-null  bool
 14  History                      688341 non-null  bool
 15  Horror                       688341 non-null  bool
 16  Music                        688341 non-null  bool
 17  Musical                      688341 non-null  bool
 18  Mystery                      688341 non-null  bool
 19  News                         688341 non-null  bool
 20  Reality-TV                   688341 non-null  bool
 21  Romance                      688341 non-null  bool
 22  Sci-Fi                       688341 non-null  bool
 23  Sport                        688341 non-null  bool
 24  Talk-Show                    688341 non-null  bool
 25  Thriller                     688341 non-null  bool
 26  War                          688341 non-null  bool
 27  Western                      688341 non-null  bool
 28  title_ratings_tconst         315659 non-null  object
 29  title_ratings_averageRating  315659 non-null  float64
 30  title_ratings_numVotes       315659 non-null  float64
 31  titleId                      686728 non-null  object
 32  ordering                     686728 non-null  float64
 33  title                        686726 non-null  object
 34  region                       686728 non-null  object
 35  language                     686728 non-null  object
 36  types                        686728 non-null  object
 37  attributes                   686728 non-null  object
 38  isOriginalTitle              686728 non-null  float64
 39  liste_titles                 686728 non-null  object
 40  tmdb_imdb_id                 202467 non-null  object
 41  tmdb_original_title          202467 non-null  object
 42  tmdb_popularity              202467 non-null  float64
 43  tmdb_release_date            202467 non-null  float64
 44  tmdb_runtime                 202467 non-null  float64
 45  tmdb_title                   202467 non-null  object
 46  tmdb_vote_average            202467 non-null  float64
 47  tmdb_vote_count              202467 non-null  float64
 48  tmdb_TV Movie                202467 non-null  object
 49  tmdb_US                      202467 non-null  object
 50  tmdb_FR                      202467 non-null  object
 51  tmdb_GB                      202467 non-null  object
 52  tmdb_DE                      202467 non-null  object
 53  tmdb_JP                      202467 non-null  object
 54  tmdb_IN                      202467 non-null  object
 55  tmdb_IT                      202467 non-null  object
 56  tmdb_CA                      202467 non-null  object
 57  tmdb_ES                      202467 non-null  object
 58  tmdb_MX                      202467 non-null  object
 59  tmdb_HK                      202467 non-null  object
 60  tmdb_BR                      202467 non-null  object
 61  tmdb_SE                      202467 non-null  object
 62  tmdb_SU                      202467 non-null  object
 63  tmdb_PH                      202467 non-null  object
 64  tmdb_KR                      202467 non-null  object
 65  tmdb_AU                      202467 non-null  object
 66  tmdb_CN                      202467 non-null  object
 67  tmdb_AR                      202467 non-null  object
 68  tmdb_RU                      202467 non-null  object
 69  tmdb_DK                      202467 non-null  object
 70  tmdb_NL                      202467 non-null  object
 71  tmdb_BE                      202467 non-null  object
 72  tmdb_AT                      202467 non-null  object
 73  tmdb_TR                      202467 non-null  object
 74  tmdb_PL                      202467 non-null  object
 75  tmdb_CH                      202467 non-null  object
 76  tmdb_XC                      202467 non-null  object
 77  tmdb_FI                      202467 non-null  object
 78  tmdb_NO                      202467 non-null  object
 79  tmdb_IR                      202467 non-null  object
 80  tmdb_XG                      202467 non-null  object
 81  tmdb_EG                      202467 non-null  object
 82  tmdb_NG                      202467 non-null  object
 83  tmdb_ZA                      202467 non-null  object
 84  rating                       9621 non-null    float64
 85  imdbid                       9621 non-null    object
dtypes: bool(25), float64(10), int64(2), object(49)
memory usage: 336.8+ MB

In [141]:
BIG_DF_ML3 = BIG_DF_ML.dropna(subset=['title_ratings_averageRating','tmdb_vote_average'],how='all')

In [142]:
BIG_DF_ML3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331142 entries, 0 to 688339
Data columns (total 86 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   tconst                       331142 non-null  object
 1   startYear                    331142 non-null  int64
 2   runtimeMinutes               331142 non-null  int64
 3   Action                       331142 non-null  bool
 4   Adventure                    331142 non-null  bool
 5   Animation                    331142 non-null  bool
 6   Biography                    331142 non-null  bool
 7   Comedy                       331142 non-null  bool
 8   Crime                        331142 non-null  bool
 9   Documentary                  331142 non-null  bool
 10  Drama                        331142 non-null  bool
 11  Family                       331142 non-null  bool
 12  Fantasy                      331142 non-null  bool
 13  Game-Show                    331142 non-null  bool
 14  History                      331142 non-null  bool
 15  Horror                       331142 non-null  bool
 16  Music                        331142 non-null  bool
 17  Musical                      331142 non-null  bool
 18  Mystery                      331142 non-null  bool
 19  News                         331142 non-null  bool
 20  Reality-TV                   331142 non-null  bool
 21  Romance                      331142 non-null  bool
 22  Sci-Fi                       331142 non-null  bool
 23  Sport                        331142 non-null  bool
 24  Talk-Show                    331142 non-null  bool
 25  Thriller                     331142 non-null  bool
 26  War                          331142 non-null  bool
 27  Western                      331142 non-null  bool
 28  title_ratings_tconst         315659 non-null  object
 29  title_ratings_averageRating  315659 non-null  float64
 30  title_ratings_numVotes       315659 non-null  float64
 31  titleId                      330783 non-null  object
 32  ordering                     330783 non-null  float64
 33  title                        330782 non-null  object
 34  region                       330783 non-null  object
 35  language                     330783 non-null  object
 36  types                        330783 non-null  object
 37  attributes                   330783 non-null  object
 38  isOriginalTitle              330783 non-null  float64
 39  liste_titles                 330783 non-null  object
 40  tmdb_imdb_id                 202467 non-null  object
 41  tmdb_original_title          202467 non-null  object
 42  tmdb_popularity              202467 non-null  float64
 43  tmdb_release_date            202467 non-null  float64
 44  tmdb_runtime                 202467 non-null  float64
 45  tmdb_title                   202467 non-null  object
 46  tmdb_vote_average            202467 non-null  float64
 47  tmdb_vote_count              202467 non-null  float64
 48  tmdb_TV Movie                202467 non-null  object
 49  tmdb_US                      202467 non-null  object
 50  tmdb_FR                      202467 non-null  object
 51  tmdb_GB                      202467 non-null  object
 52  tmdb_DE                      202467 non-null  object
 53  tmdb_JP                      202467 non-null  object
 54  tmdb_IN                      202467 non-null  object
 55  tmdb_IT                      202467 non-null  object
 56  tmdb_CA                      202467 non-null  object
 57  tmdb_ES                      202467 non-null  object
 58  tmdb_MX                      202467 non-null  object
 59  tmdb_HK                      202467 non-null  object
 60  tmdb_BR                      202467 non-null  object
 61  tmdb_SE                      202467 non-null  object
 62  tmdb_SU                      202467 non-null  object
 63  tmdb_PH                      202467 non-null  object
 64  tmdb_KR                      202467 non-null  object
 65  tmdb_AU                      202467 non-null  object
 66  tmdb_CN                      202467 non-null  object
 67  tmdb_AR                      202467 non-null  object
 68  tmdb_RU                      202467 non-null  object
 69  tmdb_DK                      202467 non-null  object
 70  tmdb_NL                      202467 non-null  object
 71  tmdb_BE                      202467 non-null  object
 72  tmdb_AT                      202467 non-null  object
 73  tmdb_TR                      202467 non-null  object
 74  tmdb_PL                      202467 non-null  object
 75  tmdb_CH                      202467 non-null  object
 76  tmdb_XC                      202467 non-null  object
 77  tmdb_FI                      202467 non-null  object
 78  tmdb_NO                      202467 non-null  object
 79  tmdb_IR                      202467 non-null  object
 80  tmdb_XG                      202467 non-null  object
 81  tmdb_EG                      202467 non-null  object
 82  tmdb_NG                      202467 non-null  object
 83  tmdb_ZA                      202467 non-null  object
 84  rating                       9606 non-null    float64
 85  imdbid                       9606 non-null    object
dtypes: bool(25), float64(10), int64(2), object(49)
memory usage: 164.5+ MB

In [171]:
def encodage_X(X, type='standard'):
  index = X.index
  X_num = BIG_DF_ML3[['title_ratings_averageRating','tmdb_vote_average']]
  X_cat = BIG_DF_ML3.drop(['title_ratings_averageRating','tmdb_vote_average'], axis=1)
  # Comme ça les dates, on n'y touche pas

  if type == 'standard':
    from sklearn.preprocessing import StandardScaler
    SN = StandardScaler()
    X_num_SN = pd.DataFrame(SN.fit_transform(X_num), columns=X_num.columns, index=index)

  else:
    from sklearn.preprocessing import MinMaxScaler
    SN = MinMaxScaler(feature_range=(1,5))
    X_num_SN = pd.DataFrame(SN.fit_transform(X_num), columns=X_num.columns, index=index)

  X_encoded = pd.concat([X_num_SN, X_cat], axis=1)

  return X_encoded

In [172]:
BIG_DF_ML4 = encodage_X(BIG_DF_ML3, type='normal')
BIG_DF_ML4

,title_ratings_averageRating,tmdb_vote_average,tconst,startYear,runtimeMinutes,Action,Adventure,Animation,Biography,Comedy,...,tmdb_FI,tmdb_NO,tmdb_IR,tmdb_XG,tmdb_EG,tmdb_NG,tmdb_ZA,rating,imdbid,moyenne
0,2.955556,NaN,tt0000009,1894,45,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,tt0000009,5.4000
1,2.866667,3.2104,tt0000147,1897,100,False,False,False,False,False,...,False,False,False,False,False,False,False,NaN,NaN,5.3630
2,2.511111,NaN,tt0000502,1905,100,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4000
3,3.222222,3.1500,tt0000574,1906,70,True,True,False,True,False,...,False,False,False,False,False,False,False,1.0,tt0000574,5.6875
4,3.088889,1.0000,tt0000591,1907,90,False,False,False,False,False,...,False,False,False,False,False,False,False,NaN,NaN,2.8500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688332,3.400000,3.6832,tt9916362,2020,92,False,False,False,False,False,...,False,False,False,False,False,False,False,NaN,NaN,6.5540
688333,2.155556,NaN,tt9916428,2019,0,False,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6000
688334,4.244444,NaN,tt9916538,2019,123,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3000
688338,4.288889,NaN,tt9916706,2013,0,False,False,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4000
688339,3.666667,NaN,tt9916730,2017,116,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0000

In [186]:
def moyenne_ponderee(ligne):

    # Si 'title_ratings_averageRating' est NaN, on ne prend que 'tmdb_vote_average', et vice versa

    if pd.isna(ligne['title_ratings_averageRating']) and not pd.isna(ligne['tmdb_vote_average']):
        return ligne['tmdb_vote_average']  # Si title_ratings_averageRating est vide, prendre tmdb_vote_average

    elif pd.isna(ligne['tmdb_vote_average']) and not pd.isna(ligne['title_ratings_averageRating']):
        return ligne['title_ratings_averageRating']  # Si tmdb_vote_average est vide, prendre title_ratings_averageRating

    elif not pd.isna(ligne['title_ratings_averageRating']) and not pd.isna(ligne['tmdb_vote_average']):
        # Si les deux colonnes ont des valeurs, calculer la moyenne pondérée
        return (ligne['title_ratings_averageRating'] * ligne['title_ratings_numVotes'] + ligne['tmdb_vote_average'] * ligne['tmdb_vote_count']) / (ligne['title_ratings_numVotes'] + ligne['tmdb_vote_count'])  # Moyenne simple, à ajuster si besoin !
    else:
        return np.nan  # Si les deux sont NaN, retourner NaN


BIG_DF_ML3['notes'] = BIG_DF_ML3.apply(moyenne_ponderee, axis=1)

C:\Users\frale\AppData\Local\Temp\ipykernel_2928\2696331554.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BIG_DF_ML3['notes'] = BIG_DF_ML3.apply(moyenne_ponderee, axis=1)

In [189]:
BIG_DF_ML3[['notes','title_ratings_averageRating','tmdb_vote_average']].sample(10)

           notes  title_ratings_averageRating  tmdb_vote_average
29819   7.077241                          7.1              6.500
57882   4.761957                          4.8              4.300
521093  6.692672                          6.7              6.400
53724   5.802686                          5.8              5.900
540050  3.549351                          3.6              2.300
439817  5.804348                          5.8              6.000
588713  5.000000                          5.0                NaN
170226  6.000000                          6.0                NaN
661706  6.207427                          6.2              6.526
193519  6.093706                          6.1              5.600

In [ ]:
BIG_DF_ML4 = BIG_DF_ML3.drop(['title_ratings_averageRating','tmdb_vote_average','title_ratings_tconst','titleId','tmdb_imdb_id','imdbid'], axis=1)

In [193]:
BIG_DF_ML4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331142 entries, 0 to 688339
Data columns (total 81 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   tconst                  331142 non-null  object
 1   startYear               331142 non-null  int64
 2   runtimeMinutes          331142 non-null  int64
 3   Action                  331142 non-null  bool
 4   Adventure               331142 non-null  bool
 5   Animation               331142 non-null  bool
 6   Biography               331142 non-null  bool
 7   Comedy                  331142 non-null  bool
 8   Crime                   331142 non-null  bool
 9   Documentary             331142 non-null  bool
 10  Drama                   331142 non-null  bool
 11  Family                  331142 non-null  bool
 12  Fantasy                 331142 non-null  bool
 13  Game-Show               331142 non-null  bool
 14  History                 331142 non-null  bool
 15  Horror                  331142 non-null  bool
 16  Music                   331142 non-null  bool
 17  Musical                 331142 non-null  bool
 18  Mystery                 331142 non-null  bool
 19  News                    331142 non-null  bool
 20  Reality-TV              331142 non-null  bool
 21  Romance                 331142 non-null  bool
 22  Sci-Fi                  331142 non-null  bool
 23  Sport                   331142 non-null  bool
 24  Talk-Show               331142 non-null  bool
 25  Thriller                331142 non-null  bool
 26  War                     331142 non-null  bool
 27  Western                 331142 non-null  bool
 28  title_ratings_numVotes  315659 non-null  float64
 29  ordering                330783 non-null  float64
 30  title                   330782 non-null  object
 31  region                  330783 non-null  object
 32  language                330783 non-null  object
 33  types                   330783 non-null  object
 34  attributes              330783 non-null  object
 35  isOriginalTitle         330783 non-null  float64
 36  liste_titles            330783 non-null  object
 37  tmdb_original_title     202467 non-null  object
 38  tmdb_popularity         202467 non-null  float64
 39  tmdb_release_date       202467 non-null  float64
 40  tmdb_runtime            202467 non-null  float64
 41  tmdb_title              202467 non-null  object
 42  tmdb_vote_count         202467 non-null  float64
 43  tmdb_TV Movie           202467 non-null  object
 44  tmdb_US                 202467 non-null  object
 45  tmdb_FR                 202467 non-null  object
 46  tmdb_GB                 202467 non-null  object
 47  tmdb_DE                 202467 non-null  object
 48  tmdb_JP                 202467 non-null  object
 49  tmdb_IN                 202467 non-null  object
 50  tmdb_IT                 202467 non-null  object
 51  tmdb_CA                 202467 non-null  object
 52  tmdb_ES                 202467 non-null  object
 53  tmdb_MX                 202467 non-null  object
 54  tmdb_HK                 202467 non-null  object
 55  tmdb_BR                 202467 non-null  object
 56  tmdb_SE                 202467 non-null  object
 57  tmdb_SU                 202467 non-null  object
 58  tmdb_PH                 202467 non-null  object
 59  tmdb_KR                 202467 non-null  object
 60  tmdb_AU                 202467 non-null  object
 61  tmdb_CN                 202467 non-null  object
 62  tmdb_AR                 202467 non-null  object
 63  tmdb_RU                 202467 non-null  object
 64  tmdb_DK                 202467 non-null  object
 65  tmdb_NL                 202467 non-null  object
 66  tmdb_BE                 202467 non-null  object
 67  tmdb_AT                 202467 non-null  object
 68  tmdb_TR                 202467 non-null  object
 69  tmdb_PL                 202467 non-null  object
 70  tmdb_CH                 202467 non-null  object
 71  tmdb_XC                 202467 non-null  object
 72  tmdb_FI                 202467 non-null  object
 73  tmdb_NO                 202467 non-null  object
 74  tmdb_IR                 202467 non-null  object
 75  tmdb_XG                 202467 non-null  object
 76  tmdb_EG                 202467 non-null  object
 77  tmdb_NG                 202467 non-null  object
 78  tmdb_ZA                 202467 non-null  object
 79  rating                  9606 non-null    float64
 80  notes                   331142 non-null  float64
dtypes: bool(25), float64(9), int64(2), object(45)
memory usage: 160.0+ MB

In [ ]:
def startyear(ligne):

    # Si 'start year' est 0, on ne prend que 'tmbd release date'

    if (ligne['startYear']) == 0:
        return ligne['XXXXXXX']  # Si startYear est vide, prendre XXXXXXX
    
    
    
    
    

    elif (ligne['tmdb_vote_average']) and not (ligne['startYear']):
        return ligne['startYear']  # Si tmdb_vote_average est vide, prendre startYear

    elif not (ligne['startYear']) and not (ligne['tmdb_vote_average']):
        # Si les deux colonnes ont des valeurs, calculer la moyenne pondérée
        return (ligne['startYear'] * ligne['title_ratings_numVotes'] + ligne['tmdb_vote_average'] * ligne['tmdb_vote_count']) / (ligne['title_ratings_numVotes'] + ligne['tmdb_vote_count'])  # Moyenne simple, à ajuster si besoin !
    else:
        return np.nan  # Si les deux sont NaN, retourner NaN


BIG_DF_ML3['notes'] = BIG_DF_ML3.apply(moyenne_ponderee, axis=1)