In [1]:
import pandas as pd

### Chargement des bases de données

In [2]:
# TmdB tmdb.full
tmdb = pd.read_csv("../gitignore/tmdb_info_final.csv")

In [3]:
# ImdB name.basics
nom_acteurs = pd.read_csv('../gitignore/name.basics_info_acteurs_final.tsv', sep= '\t')

In [4]:
# ImdB info_acteurs
acteurs_films = pd.read_csv('../gitignore/info_casting_acteurs.tsv', sep= '\t')

In [5]:
# ImdB title.akas
titres_films = pd.read_csv('../gitignore/title.akas_final.tsv', sep= '\t')

In [6]:
# ImdB name.basics
noms_films = pd.read_csv('../gitignore/name.basics_info_film_final.tsv', sep="\t")

In [29]:
# ImdB - title.basics
titres_films = pd.read_csv('../gitignore/title_basics_traite.csv')

### Mise en forme des DataFrames

#### Table `TmdB - Full`

In [4]:
tmdb.head()

,tmdb_genres,tmdb_homepage,tmdb_imdb_id,tmdb_original_language,tmdb_original_title,tmdb_overview,tmdb_popularity,tmdb_poster_path,tmdb_production_countries,tmdb_release_date,tmdb_runtime,tmdb_tagline,tmdb_vote_average,tmdb_vote_count,tmdb_production_companies_name
0,['Comedy'],NaN,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,2.852,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,['US'],1938,70,The favorite comic strip of millions at last o...,7.214,7,['Columbia Pictures']
1,['Adventure'],NaN,tt0011436,de,Der Mann ohne Namen,NaN,1.091,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,['DE'],1921,420,NaN,0.000,0,[]
2,"['Drama', 'Romance']",NaN,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.770,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,"['DE', 'FR', 'IT', 'JP', 'PL']",1962,110,The Intimate Secrets of Young Lovers,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese..."
3,"['Drama', 'Comedy', 'Crime']",NaN,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,9.214,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,['FI'],1988,73,NaN,7.046,248,['Villealfa Filmproductions']
4,"['Drama', 'Comedy', 'Romance']",NaN,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.282,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,['FI'],1986,76,NaN,7.182,269,['Villealfa Filmproductions']

In [7]:
tmdb = tmdb.drop(columns='tmdb_production_countries')

In [10]:
tmdb.head()

,tmdb_genres,tmdb_homepage,tmdb_imdb_id,tmdb_original_language,tmdb_original_title,tmdb_overview,tmdb_popularity,tmdb_poster_path,tmdb_release_date,tmdb_runtime,tmdb_tagline,tmdb_vote_average,tmdb_vote_count,tmdb_production_companies_name
0,['Comedy'],NaN,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,2.852,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,1938,70,The favorite comic strip of millions at last o...,7.214,7,['Columbia Pictures']
1,['Adventure'],NaN,tt0011436,de,Der Mann ohne Namen,NaN,1.091,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,1921,420,NaN,0.000,0,[]
2,"['Drama', 'Romance']",NaN,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.770,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,1962,110,The Intimate Secrets of Young Lovers,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese..."
3,"['Drama', 'Comedy', 'Crime']",NaN,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,9.214,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,1988,73,NaN,7.046,248,['Villealfa Filmproductions']
4,"['Drama', 'Comedy', 'Romance']",NaN,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.282,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,1986,76,NaN,7.182,269,['Villealfa Filmproductions']

In [13]:
tmdb = tmdb.rename(columns={'tmdb_release_date': 'Date sortie'})
tmdb = tmdb.rename(columns={'tmdb_runtime': 'Durée'})
tmdb = tmdb.rename(columns={'tmdb_tagline': 'Accroche'})
tmdb = tmdb.rename(columns={'tmdb_vote_average': 'Note moyenne'})
tmdb = tmdb.rename(columns={'tmdb_vote_count': 'Votants'})
tmdb = tmdb.rename(columns={'tmdb_production_companies_name': 'Société de production'})
tmdb = tmdb.rename(columns={'tmdb_genres': 'Genres'})
tmdb = tmdb.rename(columns={'tmdb_homepage': "Page d'accueil"})
tmdb = tmdb.rename(columns={'tmdb_original_language': "Langue d'origine"})
tmdb = tmdb.rename(columns={'tmdb_original_title': "Titre original"})
tmdb = tmdb.rename(columns={'tmdb_overview': "Synopsis"})
tmdb = tmdb.rename(columns={'tmdb_popularity': "Popularité"})
tmdb = tmdb.rename(columns={'tmdb_poster_path': "Affiche"})

In [14]:
tmdb.head()

,Genres,Page d'accueil,tmdb_imdb_id,Langue d'origine,Titre original,Synopsis,Popularité,Affiche,Date sortie,Durée,Accroche,Note moyenne,Votants,Société de production
0,['Comedy'],NaN,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,2.852,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,1938,70,The favorite comic strip of millions at last o...,7.214,7,['Columbia Pictures']
1,['Adventure'],NaN,tt0011436,de,Der Mann ohne Namen,NaN,1.091,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,1921,420,NaN,0.000,0,[]
2,"['Drama', 'Romance']",NaN,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.770,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,1962,110,The Intimate Secrets of Young Lovers,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese..."
3,"['Drama', 'Comedy', 'Crime']",NaN,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,9.214,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,1988,73,NaN,7.046,248,['Villealfa Filmproductions']
4,"['Drama', 'Comedy', 'Romance']",NaN,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.282,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,1986,76,NaN,7.182,269,['Villealfa Filmproductions']

In [15]:
# TmdB tmdb.full
tmdb.to_csv("../gitignore/tmdb_info_propre.csv")

#### Table `ImdB - Title.akas`

In [18]:
titres_films.head(10)

     titleId                                              title
0  tt0000002                         ['Le clown et ses chiens']
1  tt0000003                                 ['Pauvre Pierrot']
2  tt0000004                                    ['Un bon bock']
3  tt0000010  ["La sortie de l'usine Lumière", "La sortie de...
4  tt0000012  ["L'arrivée d'un train en gare de La Ciotat", ...
5  tt0000013  ['Le débarquement du congrès de photographie à...
6  tt0000014  ['Le Jardinier et le Petit Espiègle', 'Arroseu...
7  tt0000015  ["Autour d'une cabine", "Mésaventures d'un cop...
8  tt0000016    ['Barque sortant du port', 'La sortie du port']
9  tt0000022                                  ['Les forgerons']

#### Table `ImdB - name.basics`

In [27]:
nom_acteurs.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"

In [28]:
noms_films.head()

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

In [32]:
titres_films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688341 entries, 0 to 688340
Data columns (total 34 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          688341 non-null  object
 1   titleType       688341 non-null  object
 2   startYear       688341 non-null  int64
 3   runtimeMinutes  688341 non-null  int64
 4   genres          688341 non-null  object
 5   decade          688341 non-null  int64
 6   Action          688341 non-null  bool
 7   Adult           688341 non-null  bool
 8   Adventure       688341 non-null  bool
 9   Animation       688341 non-null  bool
 10  Biography       688341 non-null  bool
 11  Comedy          688341 non-null  bool
 12  Crime           688341 non-null  bool
 13  Documentary     688341 non-null  bool
 14  Drama           688341 non-null  bool
 15  Family          688341 non-null  bool
 16  Fantasy         688341 non-null  bool
 17  Game-Show       688341 non-null  bool
 18  History         688341 non-null  bool
 19  Horror          688341 non-null  bool
 20  Music           688341 non-null  bool
 21  Musical         688341 non-null  bool
 22  Mystery         688341 non-null  bool
 23  News            688341 non-null  bool
 24  Reality-TV      688341 non-null  bool
 25  Romance         688341 non-null  bool
 26  Sci-Fi          688341 non-null  bool
 27  Short           688341 non-null  bool
 28  Sport           688341 non-null  bool
 29  Talk-Show       688341 non-null  bool
 30  Thriller        688341 non-null  bool
 31  War             688341 non-null  bool
 32  Western         688341 non-null  bool
 33  movie           688341 non-null  bool
dtypes: bool(28), int64(3), object(3)
memory usage: 49.9+ MB

In [31]:
titres_films.head()

,tconst,titleType,startYear,runtimeMinutes,genres,decade,Action,Adult,Adventure,Animation,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,movie
0,tt0000009,movie,1894,45,Romance,1890,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
1,tt0000147,movie,1897,100,"Documentary,News,Sport",1890,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
2,tt0000502,movie,1905,100,\N,1900,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,tt0000574,movie,1906,70,"Action,Adventure,Biography",1900,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True
4,tt0000591,movie,1907,90,Drama,1900,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [36]:
titres_films = titres_films.drop(columns = ['Action',
                                        'Adult',
                                        'Adventure',
                                        'Animation',
                                        'Biography',
                                        'Comedy',
                                        'Crime',
                                        'Documentary',
                                        'Drama',
                                        'Family',
                                        'Fantasy',
                                        'Game-Show',
                                        'History',
                                        'Horror',
                                        'Music', 
                                        'Musical', 
                                        'Mystery', 
                                        'News', 
                                        'Reality-TV',
                                        'Romance', 
                                        'Sci-Fi', 
                                        'Short', 
                                        'Sport',   
                                        'Talk-Show', 
                                        'Thriller', 
                                        'War', 
                                        'Western'])

In [40]:
titres_films.head()

,tconst,startYear,runtimeMinutes,genres,decade,movie
0,tt0000009,1894,45,Romance,1890,True
1,tt0000147,1897,100,"Documentary,News,Sport",1890,True
2,tt0000502,1905,100,\N,1900,True
3,tt0000574,1906,70,"Action,Adventure,Biography",1900,True
4,tt0000591,1907,90,Drama,1900,True

In [ ]:
titres_films = titres_films.drop(columns= 'titleType')

KeyError: "['titleType'] not found in axis"

In [44]:
titres_films = titres_films.drop(columns= 'decade')
titres_films = titres_films.drop(columns= 'movie')

In [ ]:
titres_films = titres_films.rename(columns={'startYear': 'Sortie'})
titres_films = titres_films.rename(columns={'runtimeMinutes': 'Durée (Min)'})
titres_films = titres_films.rename(columns={'genres': 'Genres'})

In [45]:
titres_films

           tconst  Sortie  Durée (Min)                      Genres
0       tt0000009    1894           45                     Romance
1       tt0000147    1897          100      Documentary,News,Sport
2       tt0000502    1905          100                          \N
3       tt0000574    1906           70  Action,Adventure,Biography
4       tt0000591    1907           90                       Drama
...           ...     ...          ...                         ...
688336  tt9916622    2015           57                 Documentary
688337  tt9916680    2007          100                 Documentary
688338  tt9916706    2013            0                      Comedy
688339  tt9916730    2017          116                       Drama
688340  tt9916754    2013           49                 Documentary

[688341 rows x 4 columns]

### Merge `TmdB` + `titres_films`
- On souhaite conserver toutes les lignes des 2 dfs.

In [48]:
df_merge1 = pd.merge(tmdb, titres_films, left_on='tmdb_imdb_id', right_on='tconst', how='outer')

In [49]:
df_merge_1.head()

,Genres_x,Page d'accueil,tmdb_imdb_id,Langue d'origine,Titre original,Synopsis,Popularité,Affiche,Date sortie,Durée,Accroche,Note moyenne,Votants,Société de production,tconst,Sortie,Durée (Min),Genres_y
0,['Comedy'],NaN,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,2.852,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,1938,70,The favorite comic strip of millions at last o...,7.214,7,['Columbia Pictures'],tt0029927,1938.0,70.0,"Comedy,Family"
1,['Adventure'],NaN,tt0011436,de,Der Mann ohne Namen,NaN,1.091,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,1921,420,NaN,0.000,0,[],tt0011436,1921.0,0.0,\N
2,"['Drama', 'Romance']",NaN,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.770,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,1962,110,The Intimate Secrets of Young Lovers,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese...",tt0055747,1962.0,110.0,"Drama,Romance"
3,"['Drama', 'Comedy', 'Crime']",NaN,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,9.214,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,1988,73,NaN,7.046,248,['Villealfa Filmproductions'],tt0094675,1988.0,72.0,"Comedy,Crime,Romance"
4,"['Drama', 'Comedy', 'Romance']",NaN,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.282,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,1986,76,NaN,7.182,269,['Villealfa Filmproductions'],tt0092149,1986.0,74.0,"Comedy,Drama,Music"

In [53]:
def fusionner_genres(row):
    # Genres_x est déjà une liste
    genres_x = row['Genres_x']
    
    # Vérifier si Genres_y est une chaîne valide (non NaN)
    if isinstance(row['Genres_y'], str):
        # Séparer Genres_y en une liste, et enlever les espaces inutiles autour des genres
        genres_y = [genre.strip() for genre in row['Genres_y'].split(',')]
    else:
        genres_y = []  # Si Genres_y n'est pas une chaîne, on crée une liste vide
    
    # Fusionner les deux listes en supprimant les doublons
    genres_fusionnes = list(set(genres_x + genres_y))  # Utiliser un set pour éliminer les doublons
    
    # Trier les genres et les convertir en chaîne séparée par des virgules
    return ','.join(sorted(genres_fusionnes))

# Appliquer la fonction sur chaque ligne du DataFrame
df_merge2['Genres_fusionnes'] = df_merge1.apply(fusionner_genres, axis=1)

# Afficher le résultat
print(df_merge2[['Genres_x', 'Genres_y', 'Genres_fusionnes']])

TypeError: can only concatenate str (not "list") to str