In [4]:

import streamlit as st
import streamlit_authenticator as stauth
import pandas as pd
from streamlit_option_menu import option_menu
from fuzzywuzzy import process
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import time
import os

df_infos_csv = "../donnees/data/df_info.csv.gz"
df_infos = pd.read_csv(df_infos_csv, compression='infer')
df_infos[df_infos['Titre']=='Inception']

,tconst,Titre,Titre Original,genres,Année de Sortie,Durée (min),Note,Nombre Votes,Popularité,Décennie,...,Pays Production,nconst,Slogan,Synopsis,Chemin Affiche,Chemin Affiche Pub,Url Site,Langue Originale,Langues Parlées,Statut
170091,tt1375666,Inception,Inception,"Action,Adventure,Sci-Fi",2010,148,8.794438,2614737,77.103,2010,...,"['GB', 'US']",nm0634240,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",/edv5CZvWj09upOsy2Y6IwDhK8bt.jpg,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,https://www.warnerbros.com/movies/inception,en,"['en', 'fr', 'ja', 'sw']",Released

In [2]:
df_infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301086 entries, 0 to 301085
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   tconst                301086 non-null  object
 1   Titre                 301086 non-null  object
 2   Titre Original        197925 non-null  object
 3   genres                301086 non-null  object
 4   Année de Sortie       301086 non-null  int64
 5   Durée (min)           301086 non-null  int64
 6   Note                  301086 non-null  float64
 7   Nombre Votes          301086 non-null  int64
 8   Popularité            301086 non-null  float64
 9   Décennie              301086 non-null  int64
 10  Indice Bechdel        301086 non-null  float64
 11  Maison de Production  197925 non-null  object
 12  Pays Production       197925 non-null  object
 13  nconst                269974 non-null  object
 14  Slogan                59740 non-null   object
 15  Synopsis              184658 non-null  object
 16  Chemin Affiche        180296 non-null  object
 17  Chemin Affiche Pub    115058 non-null  object
 18  Url Site              29217 non-null   object
 19  Langue Originale      197925 non-null  object
 20  Langues Parlées       197925 non-null  object
 21  Statut                197925 non-null  object
dtypes: float64(3), int64(4), object(15)
memory usage: 50.5+ MB

In [3]:
print(df_infos['Note'].dtype)
print(df_infos['Note'].head())
print(df_infos['Note'].isna().sum())  # Vérifie les valeurs manquantes

float64
0    5.400000
1    5.211664
2    4.400000
3    5.981921
4    5.700000
Name: Note, dtype: float64
0